[2020-03-23 13:29] Hqss opened #1 "paper"
Please tell me the address of the paper. Thank you.

[2020-03-25 11:49] dongqiaqia opened #2 "No package named "mmdet/tools""
I think that there are some mistake in your readme: "cd mmdet/toos".

[2020-03-26 03:13] wsl1014 opened #3 "No file mmcv"
Could you please provide the file named mmcv?

[2020-03-26 03:16] wsl1014 commented on #3
Found it in the Acknowledgement,hahah

[2020-03-26 06:05] chenxyyy opened #4 "Train Error"
Hi!  Thank you for your great work！

But I have met some problem when I use this work.

Traceback (most recent call last):
  File "train.py", line 7, in <module>
    from mmdet.datasets import get_dataset
  File "/data/SA-SSD/mmdet/datasets/__init__.py", line 1, in <module>
    from .custom import CustomDataset
  File "/data/SA-SSD/mmdet/datasets/custom.py", line 10, in <module>
    from .utils im

[2020-03-26 07:42] skyhehe123 commented on #4
Have you compile the points_op.cpp?

[2020-03-26 07:45] chenxyyy commented on #4
Yes , I have compile the points_op.cpp!

[code]

[2020-03-26 07:54] skyhehe123 commented on #4
what is pytorch version

[2020-03-26 07:55] chenxyyy commented on #4
I use the pytorch1.0  CUDA10.1

[2020-03-26 07:58] skyhehe123 commented on #4
I guess the error is resulted from the incompatible environment. I am using pytorch 1.1 and python 3.7.

[2020-03-26 08:01] skyhehe123 commented on #4
I remember at::Tensor is used in pytorch 1.1 while in old version they use THCudaTensor

[2020-03-26 08:02] chenxyyy commented on #4
OK. Thank you! I will try!

[2020-03-26 08:51] chenxyyy commented on #4
Hi  @skyhehe123 . Thank you  for your answer! I have solved the above problem.

But when I train the data,  the window keeps prompting errors ```cudahash: Completely failed to build```

2020-03-26 08:39:35,890 - INFO - Distributed training: False
[40, 1600, 1408]
load 14357 Car database infos
After filter database:
load 13442 Car database infos
2020-03-26 08:39:40,140 - INFO - Start running, host:

[2020-03-26 08:59] skyhehe123 commented on #4
Yes, make sure you have installed CUDPP when you compiling spconv.

[2020-03-26 09:04] chenxyyy commented on #4
OK！I will fix this problem and then I will learn your code in detail, thanks again.

[2020-03-26 10:37] York1996OutLook commented on #1
+1

[2020-03-27 05:43] chenxyyy commented on #4
Hello！ When I run the test code ```python test.py ../configs/car_cfg.py ../saved_model_vehicle/epoch_50.pth```, I met the following error.

-> args = parse_args()
(Pdb) c

-> dataset = utils.get_dataset(cfg.data.val)
(Pdb) c

-> if isinstance(data_cfg['ann_file'], (list, tuple)):
(Pdb) c

-> class_names = cfg.data.val.class_names
(Pdb) c
[40, 1600, 1408]
[>>>>>

[2020-03-27 06:51] chenxyyy commented on #4
Hello!  When I ran python test.py ../configs/car_cfg.py ../saved_model_vehicle/epoch_50.pth , I met the following error.

-> args = parse_args()
(Pdb) c

-> dataset = utils.get_dataset(cfg.data.val)
(Pdb) c

-> if isinstance(data_cfg['ann_file'], (list, tuple)):
(Pdb) c

-> class_names = cfg.data.val.class_names
(Pdb) c
[40, 1600, 1408]
[>>>>>                                             ] 1/9, 0.2

[2020-03-28 02:43] zxduan-r opened #5 "reproduce the result"
I run the script according to the readme.md. But I use the latest version of spconv. I got the result as follows:
AP@0.70, 0.70, 0.70:
bbox AP:86.75, 67.33, 60.57
bev  AP:89.95, 70.55, 65.85
3d   AP:74.24, 54.92, 50.28
aos  AP:86.56, 66.95, 60.12
Car AP@0.70, 0.50, 0.50:
bbox AP:86.75, 67.33, 60.57
bev  AP:93.96, 76.62, 69.59
3d   AP:89.41, 70.11, 63.32
aos  AP:86.56, 66.95, 60.12
So, has anyone r

[2020-03-29 02:30] 1453042287 commented on #5
single gpu?

[2020-03-29 02:37] zxduan-r commented on #5
yes, single gpu.

[2020-03-29 02:39] skyhehe123 commented on #5
Can you show me your log file

[2020-03-29 02:57] zxduan-r commented on #5
This is my log. [screen.log](https://github.com/skyhehe123/SA-SSD/files/4398221/screen.log). Thanks.

[2020-03-29 02:58] ZYang2077 commented on #5
i want to ask the log file too :)

[2020-03-29 03:03] skyhehe123 commented on #5
Seems that your loss is not right, here is my log file
[20200322_182759.log](https://github.com/skyhehe123/SA-SSD/files/4398228/20200322_182759.log)

[2020-03-29 03:10] zxduan-r commented on #5
OK, Thanks very much. I will follow the readme.md and run the scripts again. Also, have you tried to train on multiple gpus? Can you share the config of multiple gpus?

[2020-03-29 03:22] skyhehe123 commented on #5
You can simply run bash dist_train.sh in tools. Set --nproc_per_node to specify the #GPU

[2020-03-29 03:59] ZYang2077 commented on #5
@skyhehe123 So here is my question, how many GPU did you use when conducting your experiments? and the batch size per GPU. Thanks a lot!

[2020-03-29 04:05] skyhehe123 commented on #5
@AlphaPlusTT I only use one GPU with batch size 2

[2020-03-29 13:57] ZYang2077 commented on #5
that's impressive, great work！

[2020-03-30 01:51] cherryjm commented on #1
+1

[2020-03-30 10:21] BB88Lee commented on #5
Do you have new result? Did you successfully reproduce the result?
@buaaJeremyduan

[2020-03-30 14:51] dongqiaqia commented on #4
Hi, I tried both spconv 1.1 and spconv1.0. Message 'cudahash: completely failed to build'  dosen't occur in sponv1.0.

[2020-03-30 14:58] skyhehe123 commented on #4
@dongqiaqia Yes, the spconv is 1.0.  By the way, can you reproduce my results?

[2020-03-31 02:53] dongqiaqia commented on #4
I cannot reproduce your results. And the training log is not consistent with yours. I don't know what's wrong.
Here is my results:
Car AP@0.70, 0.70, 0.70:
bbox AP:95.42, 80.26, 75.76
bev  AP:93.37, 80.40, 78.10
3d   AP:85.76, 70.49, 66.14
aos  AP:95.36, 80.09, 75.47
Car AP@0.70, 0.50, 0.50:
bbox AP:95.42, 80.26, 75.76
bev  AP:96.73, 86.20, 83.90
3d   AP:95.85, 80.81, 78.32
aos  AP:95.36, 80.09, 7

[2020-03-31 08:44] zxduan-r commented on #5
@BB88Lee No, still trying. What about yours?

[2020-03-31 08:50] BB88Lee commented on #5
Failed to reproduce the result. Got all None tensor after 2h of training. Haven't tried yet.
I am very curious if it is easy to reproduce the results successfully.
If you have new results, please tell me. @buaaJeremyduan

[2020-03-31 09:02] skyhehe123 commented on #4
@dongqiaqia The loss looks exactly different than mines. Let me check it first. Maybe a docker env. is needed.

[2020-03-31 23:34] ZYang2077 commented on #5
@BB88Lee @buaaJeremyduan any progress？i use the default setting and single gpu got this：
Car AP@0.70, 0.70, 0.70:
bev  AP:96.69, 90.31, 87.65
3d   AP:93.20, 83.92, 81.00

[2020-03-31 23:40] ZYang2077 commented on #5
BTW, i use the spconv 1.0 not 1.1

[2020-04-01 10:41] yangz0626 opened #6 "RuntimeError: one of the variables needed for gradient computation has been modified"
File "/home/pioneer2_1/anaconda3/envs/pointpillars/lib/python3.7/site-packages/mmcv/runner/hooks/optimizer.py", line 19, in after_train_iter
    **runner.outputs['loss'].backward()**
  File "/home/pioneer2_1/anaconda3/envs/pointpillars/lib/python3.7/site-packages/torch/tensor.py", line 118, in backward
    torch.autograd.backward(self, gradient, retain_graph, create_graph)
  File "/home/pioneer2_1

[2020-04-01 13:52] ZYang2077 commented on #6
i meet the same error when i use the pytorch1.0 and the error disappear when i use the pytorch1.1

[2020-04-02 00:32] ZYang2077 commented on #6
@yangz0626 i found one inplace operation in ssd_rotate_head.py:327, maybe you can modify this line and have a try

[2020-04-02 01:43] stduent-vehicle commented on #1
https://www4.comp.polyu.edu.hk/~cslzhang/paper/SA-SSD.pdf

[2020-04-02 01:56] zwqnju commented on #5
I have also tried to train a model, and get the following evaluation result:

Car AP@0.70, 0.70, 0.70:
bbox AP:99.55, 93.79, 91.16
bev  AP:96.57, 90.41, 87.73
3d   AP:93.16, 84.06, 81.10
aos  AP:99.42, 93.42, 90.63

Car AP@0.70, 0.50, 0.50:
bbox AP:99.55, 93.79, 91.16
bev  AP:99.42, 95.97, 93.43
3d   AP:99.37, 95.86, 93.31
aos  AP:99.42, 93.42, 90.63

Similar with @AlphaPlusTT

[2020-04-02 03:36] wyjforwjy opened #7 "would you add all_cfg.py for training?"
Is there any result for all classes ?And did you try trainning for all classes?

[2020-04-02 03:37] wyjforwjy commented on #7
Hope for your reply. And thanks for sharing your work!

[2020-04-02 04:39] skyhehe123 commented on #7
@wyjforwjy Yes, I am working on training for all classes.

[2020-04-02 07:10] Son-Goku-gpu commented on #5
@skyhehe123 My similar results similar to others:

Car AP@0.70, 0.70, 0.70:
bbox AP:99.43, 93.77, 91.14
bev  AP:96.61, 90.37, 87.69
3d   AP:93.25, 84.27, 81.31
aos  AP:99.30, 93.47, 90.69

[2020-04-02 07:15] skyhehe123 commented on #5
@Son-Goku-gpu This result is fine, so I can close this issue.

[2020-04-02 07:18] #5 closed, assigned to nobody

[2020-04-02 07:26] BB88Lee opened #8 "Why is it named single stage?"
thanks for the nice work!

I have some doubts about the naming of the method.
In the code, I saw some operations similar to the two-stage network.
- proposals generation ["guided_anchors"].
- RoI features pooling ["extra_head"].
- foreground objects redefine.
- box rescore.

difference with normal two-stage network:
- w/o box regression refinement.
- w/o NMS for proposals --> A large number of pro

[2020-04-02 08:01] skyhehe123 commented on #8
@BB88Lee This is widely discussed in many papers such as AlignDet [1], Guided Anchor [2], DAFS [3]. In my view, the different lies between whether appling NMS (which is the most time-summing part) in the proposal generation module. Furhter more, the RoI pooling (which requires pixel bining) has more complixity than feature warping/sampling/adaptation (e.g. applying deconv to adapt feature map base

[2020-04-02 14:01] dllucas commented on #6
@AlphaPlusTT I try to use the pytorch 1.1, but there is something wrong with compiling spconv v1.1. However, I can not find spconv v1.0. Could you please help me?

[2020-04-02 20:25] SiftingSands opened #9 "Missing modules"
I followed the installation instructions, but had to make the following changes when running `python3 tools/create_data.py`.

*Install pybind11
*Install numba
*Instal mmcv
*Install terminaltables
*Moved "create_data.py" up one directory into ~/SA-SSD/ instead of ~/SA-SSD/tools. Otherwise, it wouldn't load modules from mmdet.

I'm not sure if this is intended, or if I messed up installation somewhe

[2020-04-02 21:44] SiftingSands commented on #9
Also getting the following issue with imports.

[code]

Again, maybe I screwed up the install here?

[2020-04-03 01:37] zwqnju commented on #9
Maybe you should not move create_data.py.
Just run `python tools/create_data.py ........` in the root directory.

[2020-04-03 02:36] zwqnju commented on #6
@dllucas I follow the instruction in [Det3D/INSTALLATION.md](https://github.com/poodarchu/Det3D/blob/master/INSTALLATION.md#spconv) to install spconv-v1.0
``

[2020-04-03 02:52] dllucas commented on #6
@zwqnju Thank you~ I have also found that.

[2020-04-03 04:58] yangz0626 commented on #6
@AlphaPlusTT thanks. It works when I change the pytorch version from 1.3 to 1.1

[2020-04-03 12:36] SiftingSands commented on #9
That's what I tried at first, otherwise I wouldn't have moved it if it worked...
It fails to import "mmdet" for example in the default location.  Should "mmdet" show up in "pip list"? I did "python3 setup.py build_ext --inplace" for every folder in "mmdet/ops" per the instructions.

[2020-04-03 14:20] dllucas commented on #5
@buaaJeremyduan @BB88Lee Have you successfully reproduced the results?

[2020-04-04 13:34] AlphaPlusTT opened #10 "why performance dropped when increase the batch size"
when i increase the batchsize from 2 to 6, the performance droped about 3 point average, why？

[2020-04-05 08:42] wangguojun2018 commented on #1
这个链接打不开，好像没有访问权限

[2020-04-07 11:48] stduent-vehicle commented on #1
我今天试了下，论文链接可以打开，你再试试吧。

---Original---
From: "王国军"<notifications@github.com&gt;
Date: Sun, Apr 5, 2020 16:43 PM
To: "skyhehe123/SA-SSD"<SA-SSD@noreply.github.com&gt;;
Cc: "Comment"<comment@noreply.github.com&gt;;"Gang-Chen-China"<904375950@qq.com&gt;;
Subject: Re: [skyhehe123/SA-SSD] paper (#1)

https://www4.comp.polyu.edu.hk/~cslzhang/paper/SA-SSD.pdf

这个链接打不开，好像没有访问权限

—
You are receiving this b

[2020-04-08 09:37] wangguojun2018 commented on #1
嗯嗯，好的，谢谢啦

---Original---
From: "Gang-Chen-China"<notifications@github.com&gt;
Date: 2020/4/7 19:49:08
To: "skyhehe123/SA-SSD"<SA-SSD@noreply.github.com&gt;;
Cc: "Comment"<comment@noreply.github.com&gt;;"王国军"<839977837@qq.com&gt;;
Subject: Re: [skyhehe123/SA-SSD] paper (#1)

 我今天试了下，论文链接可以打开，你再试试吧。

 ---Original---
 From: "王国军"<notifications@github.com&amp;gt;
 Date: Sun, Apr 5, 2020 16:43 PM
 To:

[2020-04-09 07:50] binlidaily opened #11 "CUDA kernel failed : invalid device function"
When I try to train the model, I get `CUDA kernel failed`:
[code]

I google the solution, which is said I should change my GPU setting, I use RTX 2080 Ti and CUDA 10.0, so I should set:
[code]

The problem is where should I do this setting?

Thank you very much!

[2020-04-09 22:02] SiftingSands commented on #9
Closing this issue. My build somehow started working after retrying in a few days...

Also, I ran into the following error :

    opp_labels = (box_preds[..., -1] > 0) ^ dir_labels.byte()
RuntimeError: result type Byte can't be cast to the desired output type Bool

I'm using PyTorch 1.4, so it's probably a compatibility issue with different versions. Made the following changes to also avoid the fo

[2020-04-09 22:02] #9 closed, assigned to nobody

[2020-04-12 00:15] stalkermustang commented on #4
hello. I'm starting to work with your repo, and Docker is a nice idea. Can you briefly describe system (cuda, cudnn, spconv commit, pytorch exact version, python version)? i try to build and train, also try to use method on WaymoOpen dataset

[2020-04-12 23:16] stalkermustang opened #12 "points_op error"
Hello. I'm trying to build container and env in Docker for futher train my own model. But there is unclear description of libaries version. So i'm trying this Dockerfile:
https://pastebin.com/RVtcLjLb
with CUDA 10.0, python 3.7.7, pytorch 1.1.0, Spconv v1.0 from commit 7342772

After i build image, i go run points_op's build:
$ python setup.py build_ext --inplace

and got error:

    from mmdet.op

[2020-04-13 02:18] weweus opened #13 "【reproduce the result】evaluation results are not as good as those published in this repo"
Hi, is the pretrained model trained on train-val split (3712+3769) ?
same issue as #5

I notice that contents of the default car_cfg.py  include "kitti_dbinfos_trainval.pkl". And i have trained a model used "kitti_dbinfos_train.pkl", but evaluation results (bev AP) of the model trained on "kitti_dbinfos_trainval.pkl" (3712) are not as good as those published in readme.md of this repo:
[code]
By th

[2020-04-13 05:48] skyhehe123 commented on #13
@weweus The pretrained model is trained on train split only and so as the instance pool for augmentation. The gap between may due to the codebase, in which the optimizer are different. I have just updated the optimizer (Adam with one_cycle scheduler) in the latest commitment. Please check and re-run the script.

[2020-04-13 05:59] skyhehe123 commented on #12
@stalkermustang Hi. Is there something wrong with your python version? As I see your environment is based on python 3.7.7 which is mis-match with the built library (xxx.cpython-36m-xxxx refers to build up by 3.6).

[2020-04-13 08:37] weweus commented on #13
Thx a lot, i will check it later and train with the new config file.

[2020-04-13 09:39] stalkermustang commented on #12
sorry, yes, i'm paste error from second dockerfile, which build with 3.6. In first i see same error except py version.
`    ImportError: /workspaces/SASSD/mmdet/ops/points_op/points_op_cpu.cpython-37m-x86_64-linux-gnu.so: undefined symbol: _ZN6caffe26detail36_typeMetaDataInstance_preallocated_7E`

[2020-04-13 09:46] stalkermustang commented on #12
by the way there's a funny moment: error gone when i change 2-3 lines order here:
https://github.com/skyhehe123/SA-SSD/blob/master/mmdet/ops/points_op/__init__.py#L2
i.e. load torch first, then extensions. This fixes both docker images, lol. Any ideas?

seems like my docker is ready, in several days i'm testing it on kitti (but no try reproduce result, only 1-2 epochs) and ready to post.

[2020-04-13 09:52] stalkermustang commented on #12
also why you change https://github.com/skyhehe123/SA-SSD/commit/ef6e9a263e7d526ec077987afa2f0ecf548d1827#diff-2fb587158f124e3282e87759a3af4fdbR162 cpu-extension call here?

[2020-04-15 00:06] GuangshengShi commented on #13
@skyhehe123 I have retrained by lastest released code (One cycle scheduler) with only train set. Still, I found the results are worse than published in Readme.md
Car AP@0.70, 0.70, 0.70:
bbox AP:99.60, 95.93, 93.36
bev  AP:96.79, 90.44, 89.75
3d   AP:93.23, 84.13, 81.25
aos  AP:99.51, 95.63, 92.89
Car AP@0.70, 0.50, 0.50:
bbox AP:99.60, 95.93, 93.36
bev  AP:99.61, 96.10, 93.55
3d   AP:99.59, 96.02

[2020-04-15 00:10] GuangshengShi commented on #5
@Son-Goku-gpu  the re-trained bev AP (90.37) is lower 2 points than published (92.79).
@skyhehe123 I find nearly all re-trained results have worse results than published in readme.md. For  Any other reason?

[2020-04-15 02:15] skyhehe123 commented on #13
@weweus @GuangshengShi After double checking my published results in this repo, it seems the results are inconsistent with so many others and also deviated from what I claimed in my paper. I finally notice the deviation mainly comes from using the kitti_dbinfos_trainval.pkl when I developing my new codebase and I  rush to put the code online without carefully check. I will update the readme by ada

[2020-04-15 02:17] skyhehe123 commented on #5
@Son-Goku-gpu Would you mind sharing your model?

[2020-04-15 02:22] weweus commented on #13
Maybe, you could try to find the best model in all trained models. I found that the evaluation results of Epoch75.pth are better than yours (bev AP[medium]=92.14 under iou=0.7).

[2020-04-15 02:24] skyhehe123 commented on #12
@stalkermustang So many others report error when they run on this line as it use numba compiled operation. I just write an alternatives for those who have encountered numba error :)

[2020-04-15 02:27] skyhehe123 commented on #13
@weweus 这个就太神奇了。。。

[2020-04-19 07:04] #13 closed

[2020-04-20 00:22] ootts opened #14 "CUDA OOM Error"
I am trying to train the SA-SSD model, but I encounter with CUDA out-of-memory error.
I tried to use batch size 1, but the OOM error remains.
I am using TITAN V with 12.7G memory, and my pytorch version is 1.2.0.

[2020-04-20 01:28] stalkermustang commented on #14
You need to install torch 1.1 btw, but i create a [dockerfile](https://gist.github.com/stalkermustang/6f214d9b8a82675086d415e546efd20e) which i use to train model - enen on 2060 6gb with bs 1.
Also found that on v100 memory usage growths - about 15GB with default settings. @skyhehe123 , did you see this fact before? I didn't know why memory change across GPUs.

[2020-04-20 02:48] ootts commented on #14
I install pytorch 1.1.0, but memory is still not enough..

[2020-04-20 10:50] stalkermustang commented on #14
Do you build DOcker image and try train inside?

[2020-04-21 00:58] ootts commented on #14
I use the DOcker image as a reference because it is slightly different from my environment.
I install spconv using the commands in the DOcker image, and install pytorch1.1.0 and torchvision0.3.0.
But OOM still remains.

[2020-04-21 14:19] zilongyuan opened #15 "confused with parameter(featmap_stride) and code"
1.why featmap_stride = 0.4? should it be 8? cooresponding to downsampling 3 times。
2. in function gen_sample_grid:
        you calculate the center points of (4,7) region
        xx = torch.linspace(-.5, .5,window_size[0]).type_as(box).view(1, -1) * wg
        yy = torch.linspace(-.5, .5,window_size[1]).type_as(box).view(1, -1) * lg
        xx and yy not the distance between part center and object

[2020-04-21 21:58] SiftingSands opened #16 "Changing voxel size for inference speed"
I've been looking at ways to further increase inference speed, and my first attempt was to increase the voxel size to reduce the tensor input size to the model.

However, the only way I was able to get that to work with the pretrained network that was provided, was to decrease the "output_shape" in SpMiddleFHD. Probably not surprisingly, the model performance was incredibly poor.

I was curious if

[2020-04-22 09:38] zyms5244 opened #17 "RuntimeError: Tensors must be CUDA and dense"
when run ./dist_train.sh RuntimeError raised:

[code]

My Environment
CUDA 10.0+CUDNN 7.6
python=3.7
spconv=1.0
pytorch=1.2.0(1.1.0 also raised the same error)

Could you give me some suggestions?

[2020-04-23 00:03] ootts commented on #14
I think I find the problem. It has nothing to do with this repo but spconv, which has bugs on TITAN V GPU. TITAN XP is fine.

[2020-04-23 09:35] zyms5244 commented on #17
solved

[2020-04-23 09:35] #17 closed, assigned to nobody

[2020-04-23 09:52] zyms5244 opened #18 "How to improve validation mAP using multi-GPUs"
I trained the model with 8GPUs, with your defaut hyper-parameters,
however, the mAP is lower than single GPU.
Car AP@0.70, 0.70, 0.70:
bbox AP:95.64, 82.39, 77.33
bev  AP:92.46, 79.22, 72.20
3d   AP:79.55, 63.29, 56.62
aos  AP:93.19, 79.68, 74.29
Car AP@0.70, 0.50, 0.50:
bbox AP:95.64, 82.39, 77.33
bev  AP:96.21, 87.74, 82.84
3d   AP:96.09, 87.34, 80.60
aos  AP:93.19, 79.68, 74.29

Could you give

[2020-04-23 11:01] stalkermustang commented on #17
@zyms5244 how you solve this?

[2020-04-27 04:59] jlqzzz opened #19 "KeyError: 'model_state' ----- evaluate the the pretrained model"
I download the pretrained model, and evaluate the model:
cd tools
python3 test.py ../configs/car_cfg.py ../saved_model_vehicle/epoch_50.pth

Then the error occur:

==> Loading parameters from checkpoint ../saved_model_vehicle/epoch_50.pth to GPU
Traceback (most recent call last):
  File "test.py", line 159, in <module>
    main()
  File "test.py", line 141, in main
    load_params_from_file(model,

[2020-04-27 09:47] Xiangzhaohong opened #20 "[Question] After I change the point_cloud_range, the runtime is very slow"
@skyhehe123 I meet a issue when I change the point_cloud_range for test.

Here is the car_cfg.py:

val=dict(
        type=dataset_type,
        root=data_root + 'training/',
        ann_file=data_root + 'ImageSets/val.txt',
        img_prefix=None,
        img_scale=(1242, 375),
        img_norm_cfg=img_norm_cfg,
        size_divisor=32,
        flip_ratio=0,
        with_mask=False,
        with_

[2020-04-27 10:23] stalkermustang commented on #19
You should change key to load model.
Print checkpoint.keys() first to see options, and choice right one.
BTW after that you got load weights problem, caused my DataParallel apply - easy add 'model.' at the start of weights alias/key in OrderedDict in model state.

[2020-04-27 22:30] asadnorouzi opened #21 "Very long trining time"
@skyhehe123 Thank you for sharing your awesome work :)

I was wondering if it is normal for training to take VERY long time. I am training with 8 GPUs and it only saved the first checkpoint (epoch 5) after 5 hours.

By the way, I'm testing your pipeline with pseudo lidar dataset. Any thoughts?

[2020-04-27 23:21] stalkermustang commented on #21
It's strange, because im training with  4 GPUs 100 epochs (960 samples per epoch) with increased pointcloud ranges in 12 hours , unsing BS 6 per GPU. Can you debug or profile code to define part that take much time? What's CPU you use - there's some numba-ops in data preprocessing, and one or two cores can cause issues.

[2020-04-28 02:36] asadnorouzi commented on #21
@stalkermustang  I have 96 CPUs! All 8 GPUs are fully utilized, almost at 100%. It's also very strange to me why training is taking a long time. It's been almost 12 hours and only 10 epochs have lapsed.  I had to make some changes to get dist_train.sh script to work with multiple GPUs. In the output there are many user warnings from `numba`  and `pytorch` which are mainly due to old vs new version

[2020-04-28 06:25] Morgan-Gan opened #22 "RuntimeError"
Any one know that-- opp_labels = (box_preds[..., -1] > 0) ^ dir_labels.byte()
RuntimeError: result type Byte can't be cast to the desired output type Bool

[2020-04-28 06:42] Morgan-Gan commented on #2
Yes, I think so! The "cd mmdet/tools"  maybe mean the upfolders-tools

[2020-04-28 06:58] weweus commented on #17
@zyms5244

Could you please give me some suggestion? I have the same problem.

[2020-04-28 13:27] abhigoku10 commented on #2
@dongqiaqia @Morgan-Gan @skyhehe123  any one able to solve this error ???

[2020-04-29 10:15] stalkermustang commented on #22
What's pytorch version you use?

[2020-04-29 14:56] asadnorouzi commented on #22
@Morgan-Gan You can solve this problem by applying the following change:

```opp_labels = (batch_box_preds[..., -1] > 0) ^ dir_labels.bool()```

I think it's just due to different pytorch versions.

[2020-04-30 07:02] Morgan-Gan commented on #22
pytorch 1.4.1，it's pytorch versions problem. Thank you for your reply ！

[2020-04-30 07:03] Morgan-Gan commented on #22
You are right, thank you !

[2020-04-30 07:15] wdxpython opened #23 "RuntimeError: CUDA error: device-side assert triggered"
Has anyone encountered this problem?

[2020-04-30 10:55] wdxpython opened #24 "about numba"
/media/adas/File/wdx/dianyun/SA-SSD/mmdet/core/bbox3d/geometry.py:189: NumbaWarning:
Compilation is falling back to object mode WITH looplifting enabled because Function "points_in_convex_polygon_3d_jit" failed type inference due to: Invalid use of type(CPUDispatcher(<function surface_equ_3d_jit at 0x7f4c808ab2f0>)) with parameters (array(float32, 4d, A))
 * parameterized
[1] During: resolving cal

[2020-04-30 10:56] wdxpython commented on #24
May I ask the author what is the problem?

[2020-04-30 12:33] stalkermustang commented on #24
It's all warnings, right? I got same but training and inference still normal

[2020-04-30 12:38] wdxpython commented on #24
Thank you for your answer, but I will crash in the middle of the training process. The reason is that the data dimensions are not aligned when calculating the focal loss.

[2020-04-30 12:40] abhigoku10 commented on #21
@asadnorouzi  hi are you able to perform the training ?? i am nto able to setup the repo there is difference in both readme and code setup  i am getting a below error "from mmdet.ops.points_op import points_op_cpu
ImportError:/march23/SA-SSD/mmdet/ops/points_op/points_op_cpu.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN6caffe28TypeMeta21_typeMetaDataInstanceIN3c108BFloat16EEEPKNS_6detail1

[2020-04-30 12:40] wdxpython commented on #24
And this situation is random, once in 2 epoch and once in 10 epoch, which makes it difficult for me to find the cause of the problem.

[2020-04-30 12:55] abhigoku10 commented on #4
@skyhehe123 @chenxyyy  @dongqiaqia i tried to install spconv 1.0 but was not successful in installing since i did not find the package can you please share the link or process to install spconv 1.0??
Henceforth i installed pytorch 1.3 python3.69  spconv1.1 and cuda 10.0 but i am getting the same error as @chenxyyy can you please let me knw how you solved this environment dependencies

@skyhehe123

[2020-04-30 16:45] SiftingSands commented on #24
Yeah I've encountered the same issue at the weighted focal loss, and it always happened around epoch 21. The dimension mismatch is always off by 1 right? I had to just do the hacky method of a try/except per batch. It still seems to train to the about the level as the provided pretrained model anyway...

[2020-05-01 05:09] wdxpython commented on #24
Thank you for your answer, I have solved that problem, but a new problem appeared during training, it will appear at about 15 epoch, have you encountered it?

/opt/conda/conda-bld/pytorch_1556653114079/work/aten/src/ATen/native/cuda/IndexKernel.cu:53: lambda [](int)->auto::operator()(int)->auto: block: [1746,0,0], thread: [67,0,0] Assertion `index >= -sizes[i] && index < sizes[i] && "index out of

[2020-05-01 10:54] stalkermustang commented on #24
How much classes you train at same time? I occur same error in different framework (but still mmdet) when pass wrong class indexes (e.g index 15 when using only 14 classes (+ background, total from 0 to 14 incl.)

[2020-05-01 13:14] SiftingSands commented on #24
terminate called after throwing an instance of 'c10::Error'

Every time that I've gotten this error with this codebase, it was due to GPU VRAM usage. (I know we typically observe a different error for out of RAM messages) However, the scaling with VRAM and batch size was non-intuitive, especially if you're using spconv 1.1 instead of 1.0.

Regardless, the "out of bounds" messages leads to stalkerm

[2020-05-02 03:01] wdxpython commented on #24
I use the author's default parameters, have you modified them? Do you know how to solve this bug?

[2020-05-02 03:02] wdxpython commented on #24
I use the author's default parameters, have you modified them? Do you know how to solve this bug?

[2020-05-03 03:37] #1 closed, assigned to nobody

[2020-05-03 03:38] #2 closed, assigned to nobody

[2020-05-03 03:38] #8 closed, assigned to nobody

[2020-05-03 03:38] #7 closed, assigned to nobody

[2020-05-04 11:46] wdxpython opened #25 "train errror"
/opt/conda/conda-bld/pytorch_1556653114079/work/aten/src/ATen/native/cuda/IndexKernel.cu:53: lambda [](int)->auto::operator()(int)->auto: block: [1320,0,0], thread: [102,0,0] Assertion `index >= -sizes[i] && index < sizes[i] && "index out of bounds"` failed.
/opt/conda/conda-bld/pytorch_1556653114079/work/aten/src/ATen/native/cuda/IndexKernel.cu:53: lambda [](int)->auto::operator()(int)->auto: blo

[2020-05-04 11:48] wdxpython commented on #25
Hello author, this bug has troubled me for several days, how can I solve it?

[2020-05-04 14:37] abhigoku10 commented on #21
@stalkermustang @asadnorouzi  where you able to set up the environment can you share the env which you have used it , i am using 2080Ti . I get error at the spconv or in cudnn

[2020-05-04 21:01] asadnorouzi commented on #21
@abhigoku10 You can see my env in the comment above. You need to make sure that you install `spconv==1.0`. The `spconv` repo has been updated to v1.1 as default. I don't have error, but my issue is the long training time which is not normal.

[2020-05-05 10:13] nmll commented on #11
you can use gdb

[2020-05-06 08:54] MichaelSunEngineer opened #26 "Results view"
How to display the test results on the pictures? And Is there a code demo when the input device is lidar?

[2020-05-06 10:56] turboxin opened #27 "pretrained model could't match the results in README"
@skyhehe123 First of all thank you for sharing this great work.

However, when I use the pretrained model provided to do eval on kitti val set, the results are worse than that claimed in README.

My rusults are (using 40 recall poisitions as in README):
Car  AP@0.70, 0.70, 0.70:
bbox AP:98.93, 93.68, 93.24
bev  AP:95.90, 90.03, 87.55
3d   AP:92.15, 83.60, 80.90

While the results in README are:
Ca

[2020-05-06 13:04] abhigoku10 commented on #27
@skyhehe123  even i am having the same issue as mentioned above , the pretrained model is only for car class ?? @turboxin  what is the results you have obtained from the pretrained model can you share the results

[2020-05-06 13:25] turboxin commented on #27
@abhigoku10&nbsp; the results is as above

---Original---
From: "abhigoku10"<notifications@github.com&gt;
Date: Wed, May 6, 2020 21:04 PM
To: "skyhehe123/SA-SSD"<SA-SSD@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"turboxin"<1611650655@qq.com&gt;;
Subject: Re: [skyhehe123/SA-SSD] pretrained model could't match the results in README  (#27)

@skyhehe123  even i am having the

[2020-05-06 14:11] abhigoku10 commented on #27
@turboxin oh sorry i missed to see that , what number of images did you give to obtain those results ?? can you share your validation and train set txt so as to verify with mine

[2020-05-07 00:21] wdxpython commented on #5
Sorry to disturb you. I ran into a bug while running the code. I added issues, where the train error contains my bug details. Have you encountered the same problem? If you have encountered it, how did you modify it?

[2020-05-07 00:21] wdxpython commented on #5
Sorry to disturb you. I ran into a bug while running the code. I added issues, where the train error contains my bug details. Have you encountered the same problem? If you have encountered it, how did you modify it?

[2020-05-07 01:43] abhigoku10 commented on #5
@AlphaPlusTT @GuangshengShi @Son-Goku-gpu @BB88Lee  hi team , what is the error your getting while training ? how long did it take to train ?i am not able to get the metrics as mentioned even after using the same split values, can you share the pkl files or is there any modifications to be done in test

[2020-05-07 01:47] abhigoku10 commented on #16
@SiftingSands  what is the default inference speed your are able to achieve with the model ?

[2020-05-07 14:25] SiftingSands commented on #16
I was able to get 11 fps with an RTX 3000 (mobile) GPU. I have no doubts about others claiming 25 fps on an RTX 2080ti.

[2020-05-07 14:30] abhigoku10 commented on #16
@SiftingSands can you please share your setup environment , i not getting the fps nor the accuracy metrics with the pretrained model

[2020-05-07 18:35] SiftingSands commented on #16
CUDA 10.0
spconv 1.0
PyTorch 1.1+

[2020-05-07 18:37] SiftingSands commented on #16
@abhigoku10 I'm not sure that's relevant to this ticket about increasing voxel size. If you have reproducibility issues, please create a separate ticket.

[2020-05-08 06:23] #21 closed, assigned to nobody

[2020-05-08 06:23] #3 closed, assigned to nobody

[2020-05-08 06:24] #15 closed, assigned to nobody

[2020-05-08 06:25] abhigoku10 commented on #21
@asadnorouzi thanks for the response

[2020-05-08 06:28] abhigoku10 opened #28 "Inference time"
@skyhehe123 i have few queries on the inference
Q1.IIn the paper you have metioned the inference time as 25fps , can you let me knw how you have calculated the inference time ?? is it by keeping the batch size high over a given set of frames
Q2 can we run the current inference code on cpu? what is the expected inference drop

Thanks in advance

[2020-05-08 06:30] abhigoku10 opened #29 "Acurracy results on Small scale point clouds"
@skyhehe123 hi have you done any ablation study on the point clouds which are sparser how much drop in accuracy is expected? since kitti has around 1M points what if we have around 40K /10k points in our custom dataset what is the accuracy drop we will be expecting ??

Thanks in advance

[2020-05-09 06:08] MichaelSunEngineer opened #30 "result problem"
@skyhehe123 Hi, I want to use your-greate-job(SA-SSD) to detect the point cloud, which is the data in KITTI data set. But when I use one of the point cloud data to execute test.py, I am confused about the format of the result output. In addition, how can I link the lidar to directly obtain the point cloud for detection? And what should I do for the visualization of the detection results on the poi

[2020-05-09 07:33] #26 closed, assigned to nobody

[2020-05-10 03:15] outsidercsy opened #31 "Result reproduction."
Hi, @skyhehe123. Thanks for your awesome work.
I meet problems when reproducing the result. Following is my result. I keep the same config as in the car_cfg.py. But it seems that an obvieous gap exists.
![image](https://user-images.githubusercontent.com/26790424/81490014-36877300-92af-11ea-9866-f75ae0529808.png)
I notice that in the commit history, the training shedule has changed a lot (from cosi

[2020-05-11 07:28] abhigoku10 opened #32 "mmdet implementation"
@skyhehe123 hi just wanted to knw in the current implementation is dependednt on the files from mmdet which all files are considered in the implementation and where is the mmdet implementation taken from and its purpose
thanks in advance

[2020-05-11 08:35] outsidercsy commented on #31
I tried the code of the earliest commit(e8d4db), but the result was still unsatisfactory.
![image](https://user-images.githubusercontent.com/26790424/81541218-58fbb800-93a5-11ea-9441-80232b86f6aa.png)

[2020-05-11 08:39] skyhehe123 commented on #31
@outsidercsy. Hi, if you are using pytorch 1.4, try to add align_corners=True at  https://github.com/skyhehe123/SA-SSD/blob/9bb2ef4aecc7206ea935977d45781267b8a15001/mmdet/models/single_stage_heads/ssd_rotate_head.py#L372

[2020-05-11 08:40] skyhehe123 commented on #31
@outsidercsy This results seems to be the bug and error instead of the reproduction of the repo

[2020-05-11 08:41] #31 closed, assigned to nobody

[2020-05-11 10:30] abhigoku10 opened #33 "Model Optimization"
@skyhehe123 since the model inference is taking 0.044 ms , to reduce the timing what all modifications have you tried like pruning , tensor rt ??

[2020-05-11 10:31] abhigoku10 commented on #7
@skyhehe123  when can we expect the training for all classes output or can you let us know / share for pedestrain/people class the config

[2020-05-11 14:46] s-ryosky opened #34 "Config file for Pedestrian/Cyclist"
Could you release a config file for pedestrian and cyclist?

[2020-05-13 02:24] outsidercsy commented on #31
@skyhehe123. I have tried to rebuild the conda env, but the result is the same. The env detail is listed below. Could you please tell me what is the difference with yours?
I download the pretrained model and do evaluation. The result is the same as what you have posted. I suppose the bug may lie in training phase.
By the way, is the create_data.py in your project the same as that in second.pytorch

[2020-05-13 19:05] amritpaul commented on #25
@wdxpython Did you find a solution to solve this bug? Even I am stuck in this bug.

[2020-05-14 03:08] wdxpython commented on #25
Sorry, I tried many times and couldn't solve it

[2020-05-15 00:43] lihua213 commented on #5
I use the 79th checkpoint_epoch to validate the model and get:
[>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>] 3769/3769, 14.9 task/s, elapsed: 253s, ETA:     0sCar AP@0.70, 0.70, 0.70:
bbox AP:99.57, 96.07, 93.65
bev  AP:99.25, 93.24, 92.85
3d   AP:96.27, 89.19, 86.77
aos  AP:99.44, 95.83, 93.30
Car AP@0.70, 0.50, 0.50:
bbox AP:99.57, 96.07, 93.65
bev  AP:99.57, 96.16, 95.86
3d   AP:99.57, 9

[2020-05-15 08:48] outsidercsy commented on #31
I find the reason. I only use the cars in the train set for data augmentation. But the result posted in this repo is based on the augmentation of cars of trainval set. I think it is not proper.

[2020-05-15 08:50] abhigoku10 commented on #31
@outsidercsy  did u try with pedestrians ??

[2020-05-15 08:53] skyhehe123 commented on #31
@outsidercsy The augmentation is also based on the train set.
https://github.com/skyhehe123/SA-SSD/blob/9bb2ef4aecc7206ea935977d45781267b8a15001/configs/car_cfg.py#L103

[2020-05-15 09:07] abhigoku10 commented on #34
@skyhehe123 any update on this ??

[2020-05-15 09:24] skyhehe123 commented on #34
@abhigoku10 still working on :(...

[2020-05-15 09:29] abhigoku10 commented on #34
@skyhehe123  when is the tentative time i can expect this, i am getting poor results with peds when i modify the config and train

[2020-05-15 09:32] skyhehe123 commented on #34
@abhigoku10 I don't know, I am working on my boss's project, maybe late in this month ：(......

[2020-05-15 09:38] abhigoku10 commented on #34
@skyhehe123 wokay thanks for the update !!

[2020-05-15 10:25] abhigoku10 opened #35 "Anchor Generation"
@skyhehe123  how did u generate anchor values for car class ?

[2020-05-15 11:01] stalkermustang commented on #35
https://github.com/skyhehe123/SA-SSD/blob/e8d4db87fe7651dff3b3693c53b8fc2d4afb17cc/mmdet/core/anchor/anchor3d_generator.py#L3

[2020-05-15 11:04] turboxin opened #36 "val data is used for training?"
In https://github.com/skyhehe123/SA-SSD/blob/9bb2ef4aecc7206ea935977d45781267b8a15001/tools/create_data.py#L278 I noticed that groundtruth in val set is also created into groundtruth_database, which means val data is used for training?

[2020-05-15 11:04] abhigoku10 commented on #35
@stalkermustang thanks for the link it helped me @skyhehe123   the weights µ and λ will vary based on the object we are training if so how to obtain the values of the weights µ and λ for other objects

[2020-05-16 11:36] skyhehe123 commented on #36
@turboxin The train/val split is a human defined protocol for ablation study in many papers. When evaluation on the test set (for KITTI server comparison), it is free to use the whole/proportion of training data.

[2020-05-16 11:36] #36 closed

[2020-05-16 14:16] abhigoku10 opened #37 "MultiClass training"
@skyhehe123 hi can you share the code / config for multi class training or suggest the modifications to be made in multiclass training
Thanks in adavance

[2020-05-16 19:17] #30 closed, assigned to nobody

[2020-05-16 19:29] MichaelSunEngineer opened #38 "Image_Demo.py or inference_detector"
@skyhehe123 Can you add a single point cloud detection code like Image_Demo.py or inference_detector function?? I think it will make the whole project more perfect!

[2020-05-16 20:57] stalkermustang commented on #38
You have one
https://github.com/skyhehe123/SA-SSD/blob/master/tools/test.py#L17

[2020-05-18 05:58] MichaelSunEngineer commented on #38
＠stalkermustang  test.py is really used to test the test results, but I want to find a code to test my own data, input my own point cloud data, and output the results, instead of using Kitti data set format to encapsulate.

[2020-05-18 11:27] stalkermustang commented on #38
For inference on custom data you should cleanup
https://github.com/skyhehe123/SA-SSD/blob/master/mmdet/datasets/kitti.py#L240
this method (i.e. delete Calib and other), and passing N*4 numpy array of [x,y,z, intens] instead read_lidar call. Is this a problem?

[2020-05-18 11:50] MichaelSunEngineer commented on #38
@stalkermustang
Maybe you have some misunderstandings about my problem. The essence of my problem is how to construct a data dic{} , than put a real-time point cloud data  and other information into the dict, input it into the model, and finally get the result. Because I tried to construct a data dict and input the model directly, but there was an error, maybe because I was not familiar with some

[2020-05-18 12:20] stalkermustang commented on #38
Can you share example of input that you feed into model? Keys, values types and shapes?

[2020-05-18 12:23] MichaelSunEngineer commented on #38
` cfg = mmcv.Config.fromfile('../configs/car_cfg.py')
    cfg.model.pretrained = None
    gpus = 1

    if gpus == 1:
        model = build_detector(
            cfg.model, train_cfg=None, test_cfg=cfg.test_cfg)
        #load_checkpoint(model, args.checkpoint)
        model = MMDataParallel(model, device_ids=[0])
        load_params_from_file(model, '../model/checkpoint_epoch_80.pth')

        dat

[2020-05-18 12:52] stalkermustang commented on #38
The problem in types of object you store in dict. I.e. check image meta and scalars in code:
https://github.com/skyhehe123/SA-SSD/blob/master/mmdet/datasets/kitti.py#L266
(wrapped in DC, DataContainer) and
```data['img_meta'] = {'img_shape': (375, 1242, 3), 'sample_idx': 1, 'calib': Calibration('./000020.txt')}```
where dict passed.

All data should be wrapped in DC, and non-necessary variables ca

[2020-05-18 13:49] abhigoku10 commented on #38
@stalkermustang can this changes made will help to run on cpu ??

[2020-05-18 13:51] stalkermustang commented on #38
Of course no :)

[2020-05-18 14:01] abhigoku10 commented on #37
@stalkermustang have you tried or done multitask training modifications

[2020-05-18 14:02] stalkermustang commented on #37
I train some separate models

[2020-05-18 14:02] abhigoku10 commented on #34
@stalkermustang have you trained and tested with pedestrain

[2020-05-18 14:04] stalkermustang commented on #37
I have tried to make multiclass PointRCNN on Lyft challenge prev. year, but get only bad results (later i read in some papers that this don't work, lol. This make me angry and sad). Thus i didn't change Sa-SSD to multiclass.

[2020-05-18 14:06] abhigoku10 commented on #37
@stalkermustang  oh man i am also keeping pointrcnn as the reference and making changes in sa-ssd but runnign into errors in focal loss calculation

[2020-05-18 14:10] stalkermustang commented on #34
Today i tried to start with Cyclist's, but i'm train on WaymoOpenDataset.

[2020-05-18 14:17] stalkermustang commented on #37
Think you made mistakes, because i train on Waymo for 4 epochs to get 0.46 AP on Vehicles, and now train 22 epochs without errors (14 epochs to go, see AP later, but currently it comparable).

After Waymo challenge ends i'm prepare codebase, refactor it and publish with docker env and some changes.

[2020-05-18 14:21] abhigoku10 commented on #34
@stalkermustang  can you share what hyperparams u have kept and in config also . i will validate with mine

[2020-05-18 14:22] abhigoku10 commented on #37
@stalkermustang  did u do this for multiclass ?? can you share your modifications so that i double check it

[2020-05-18 14:23] stalkermustang commented on #34
What kind of params you mean? i change anchors, and so on.

[2020-05-18 14:34] abhigoku10 commented on #34
@stalkermustang did u change any params in config , i changed the anchors and on kitti was getting less than 10

[2020-05-18 14:34] stalkermustang commented on #37
No, i don't make changes for multiclass, as writed above (thanks for PointRCNN).

[2020-05-18 14:35] abhigoku10 commented on #37
@stalkermustang wokay i shall try to modify can you share mail id or other means where i can connect with you

[2020-05-18 14:39] stalkermustang commented on #34
hm, default anchors in config is for Kitti, or i'm wrong? What's reason for changes?

[2020-05-18 15:16] abhigoku10 commented on #34
@default anchors in cfg was for cars  , so for peds we need to obtain other vaues

[2020-05-19 03:55] MichaelSunEngineer commented on #38
@stalkermustang I set the data['img'] = DC(None, cpu_only=True)
    data['img_meta'] = DC({'img_shape': (375, 1242, 3), 'sample_idx': 1, 'calib': Calibration('./000020.txt')}, cpu_only=True), but still error.this my code name test1.py in tools/  and run python test1.py. Can you help me make some changes when you have time?
import torch
import mmcv
import sys
sys.path.append('/home/sh/SH/SA-SSD/SA-

[2020-05-19 03:56] bmankirLinker opened #39 "Pointwise feature interpolation implementation"
In the paper, the mentioned interpolation algorithm (distance-based) and the implemented (kNN) is different, where the implemented one is the same as it is in the`Pointnet++`. Is it worth trying different mechanisms or do the authors already concluded kNN works better in terms of performance in the KITTI dataset?

[2020-05-19 06:03] abhigoku10 commented on #35
@stalkermustang @skyhehe123  can you share the difference between function create_anchors_stride() and create_anchors_range() function

[2020-05-19 09:10] bmankirLinker commented on #34
@abhigoku10 Other than the anchor size, you can also consider lowering the `train_cfg` `assigner`'s `iou_th` since the pedestrian/cyclist are smaller their IOUs are more sensitive.
I haven't tried it at this repo but did similar updates on different LIDAR 3D detection projects for smaller objects.

[2020-05-19 10:49] stalkermustang commented on #38
The problem is in
https://github.com/skyhehe123/SA-SSD/blob/master/mmdet/models/detectors/single_stage.py#L128
that returns is'nt standart format for DataParallel.
Have no idea why with single gpu scatter_gather was called, but you can use model.module() forward after load weights instead model() call.
```results = model.module(return_loss=False, **data)```

[2020-05-20 01:40] MichaelSunEngineer commented on #38
@stalkermustang I try the results = model.module(return_loss=False, **data), still error.Are you run success with this change in my code?

[2020-05-20 01:58] stalkermustang commented on #38
What error you get, exact same?
[code]

[2020-05-20 02:00] stalkermustang commented on #38
can you pickle.dump ```data``` object and share?

[2020-05-20 02:08] MichaelSunEngineer commented on #38
@stalkermustang
File "/home/sh/SH/SA-SSD/SA-SSD/mmdet/models/detectors/single_stage.py", line 84, in merge_second_batch
    ret[key] = torch.stack(elems, dim=0)
TypeError: stack(): argument 'tensors' (position 1) must be tuple of Tensors, not set

[2020-05-20 03:44] MichaelSunEngineer commented on #38
@stalkermustang
[data_dict.txt](https://github.com/skyhehe123/SA-SSD/files/4654524/data_dict.txt)

[2020-05-20 07:46] djiajunustc opened #40 "About input data representation"
Hi,
In your paper, you describe that:
If multiple points share the same index, we overwrite the entry with the latest point. We find that this pre-processing method is efficient and adequate to achieve reasonable performance with a finer quantization step d = [0:05m; 0:05m; 0:1m].

But I find that in your implementation (mmdet/ops/points_op/opints_op.py), you take the same voxelization strategy as

[2020-05-20 08:24] stalkermustang commented on #38
ah, ye. Can you change all values in data dict to list of item? Like
[code]

and try to run?

[2020-05-20 11:12] 23sena commented on #40
@djiajunustc the original voxelization method is converted into comment, the alternative one can bring save the runtime in preprocessing
https://github.com/skyhehe123/SA-SSD/blob/9bb2ef4aecc7206ea935977d45781267b8a15001/mmdet/datasets/kitti.py#L185-L198

[2020-05-20 11:15] #40 closed, assigned to nobody

[2020-05-20 11:17] skyhehe123 commented on #39
@bmankirLinker You are right, the original ball query is time-consuming in training while using 3 nearest neighbors to propagate the features can achieve same funtionality and more efficient.

[2020-05-21 06:43] #38 closed, assigned to nobody

[2020-05-21 08:35] abhigoku10 commented on #38
@MichaelSunEngineer  where you able to get the single inference code running

[2020-05-23 02:52] SlingHe opened #41 "Result reproduction in update version."
Hi, I notice this repo is updated in the training process and optimization. Use the previous commit, I can reproduce the 84.3 in Car AP40@0.7. However, the performance in the master branch is poor using MMDistributedDataParallel with 2GPU.
Environments: pytorch1.1 cuda10.0
<img width="541" alt="截屏2020-05-23上午10 37 44" src="https://user-images.githubusercontent.com/19181536/82720005-270e1e00-9ce2-1

[2020-05-27 03:26] oby-yang opened #42 "cannot import name 'CocoDistEvalRecallHook' from 'mmdet.core'"
error: cannot import name 'CocoDistEvalRecallHook' from 'mmdet.core'
how to solve it? @skyhehe123

[2020-05-27 07:13] oby-yang commented on #31
create_data.py doesn't generated 'kitti_dbinfos_train.pkl',  it only generated 'kitti_infos_train.pkl' and 'kitti_dbinfos_trainval.pkl.  so which should i use?

[2020-05-27 09:32] oby-yang commented on #17
how to solve it??

[2020-05-27 15:16] SlingHe commented on #41
@skyhehe123 Could you please offer me some suggestions? Download and git checkout to history commits is okay while the latest commit seems poor performance.

[2020-05-29 09:36] wdxpython commented on #25
Did you find a solution to solve this bug?

[2020-05-30 17:49] Divadi commented on #41
I'm getting results of
Car AP@0.70, 0.70, 0.70:
bbox AP:95.91, 80.27, 77.69
bev  AP:93.43, 82.12, 79.92
3d   AP:89.14, 70.87, 66.54
aos  AP:95.89, 80.17, 77.48
with the latest commit.
I had changed
https://github.com/skyhehe123/SA-SSD/blob/9bb2ef4aecc7206ea935977d45781267b8a15001/mmdet/models/single_stage_heads/ssd_rotate_head.py#L322
to `opp_labels = (box_preds[..., -1] > 0) ^ dir_labels.bool()`

[2020-05-31 00:20] SlingHe commented on #41
@Divadi Hi, I try the commit version(24c9149) and I believe any version before rewriting the optimizer and scheduler are ok. The poor results only occur after the scheduler is modified. I further tested `torch.optim.lr_scheduler.OneCycleLR ` in PyTorch1.5 and get the same poor results as the latest commit. Still confused about this ...

[2020-06-01 18:16] Divadi commented on #41
@SlingHe Huh, I tried that exact commit and ended up with:
Car AP@0.70, 0.70, 0.70:
bbox AP:93.71, 80.44, 75.87
bev  AP:93.64, 80.62, 78.19
**3d   AP:86.67, 69.11, 66.18**
aos  AP:93.64, 80.29, 75.61

I tested on Pytorch 1.3, with spconv 1.0, mmcv=0.4.3; do you have any idea what might cause a gap like this?

Edit: I have reproduced the results by using another commit of spconv

[2020-06-01 23:22] Divadi commented on #31
If you're testing on val split, you should definitely not use kitti_db_infos_trainval.
At the end of create_data.py, you should add:

    create_groundtruth_database(data_path=YOUR_DATA_PATH, \
                                    info_path=None, \
                                    db_info_save_path=None)

that will create kitti_dbinfos_train.pkl for you from kitti_infos_train.pkl.

if you're tes

[2020-06-02 06:13] jiangzhuo1111 commented on #37
May I know what did you modified for waymo dataset, I got bad result on waymo dataset using SA-SSD,  still debugging.

[2020-06-02 06:57] stalkermustang commented on #37
i did a lot of changes, and not sure that i publish it earlier than 1-2 weeks. Also codebase contains non-reproduceble parts, because i.e. i'm storing data in SQL-like table, and use specified libaries to work around.

So my proof here: https://waymo.com/open/challenges/entry/?challenge=DETECTION_3D&email=stalkermustang@gmail.com&timestamp=1590963097332289
Keys that i found: build RIGHT environmen

[2020-06-02 07:13] jiangzhuo1111 commented on #37
Thanks for reply.
So if I did correct dataloader from waymo, and other configs and code stay the same,I will get an reasonable result,right?  because u said the key part is the "accurate preprocess".

[2020-06-02 07:38] stalkermustang commented on #37
Yeah, that's right. Generally you need to down center_z to lower plane of object, like in KITTI dataset (new_z=centrer_z - h/2) and change rotation: new_heading = -old_heading-np.pi/2
Waymo provide labels in lidar coord system, and there's no reason to use calibraions, rotations and other.

[2020-06-02 07:45] stalkermustang commented on #37
ops, i don't read right your comment. No, you need change configs and code. There's some KITTI-specific parts, like occulusion back side of pointcloud, but in waymo we need to detect all objects around

[2020-06-02 07:47] jiangzhuo1111 commented on #37
OK, Thank you.I’ll check my data preprocess.

[2020-06-02 08:01] jiangzhuo1111 commented on #37
OK,these kind of parts I have already changed(points range, anchor size, anchor offsets, do I miss some thing?).May I ask three more questions:
1.My whole loss is about 0.9, is that near to yours?
2.When I do the test, after Pswarp operation and reorder, there are many false predictions's score is very high, have u met this situation?

[2020-06-02 08:16] Royaler commented on #26
How to display the test results on the pictures? And Is there a code demo when the input device is lidar?i want to make the results visualization @skyhehe123 @MichaelSunEngineer

[2020-06-02 09:01] stalkermustang commented on #37
As i remember, there's part of definations in functions signatures. Search for "70.", "40" or smth in codebase and you get places, where you should replace them. Look here for example:

https://github.com/skyhehe123/SA-SSD/blob/e8d4db87fe7651dff3b3693c53b8fc2d4afb17cc/mmdet/models/necks/cmn.py#L208

and check default args here:
https://github.com/skyhehe123/SA-SSD/blob/e8d4db87fe7651dff3b3693c53b8

[2020-06-02 09:01] stalkermustang commented on #37
also @skyhehe123 Billy, just fyi check exmaple above pls.

[2020-06-02 09:02] stalkermustang commented on #37
i got 0.6 in Vehicles, 0.4 on cyclists and 1.3 (lol?) for pedestrians.

[2020-06-02 09:02] stalkermustang commented on #37
How many epochs/steps you do durning training ?

[2020-06-02 09:09] jiangzhuo1111 commented on #37
I trained on mini datasets first,20 epochs for 20000 frames,and loss don't decline after 12 epochs, maybe the datasets is also not big enough.

[2020-06-02 09:23] jiangzhuo1111 commented on #37
oh, I think it's very important ,use the default args "offset"  (0., -40., -3.)  is for waymo not correct, it has to be consistent to the config file, right?

[2020-06-02 09:29] stalkermustang commented on #37
Yeah, that's it. I don't count, how many times i'm change this in code, here's just example. You should look into, search for and review.

[2020-06-02 09:40] jiangzhuo1111 commented on #37
OK,its really kind of u and really helpful ,thank you very much!!!

[2020-06-02 18:01] Divadi commented on #5
@lihua213 Hey, how did you resolve the error? my run crashed due to it

[2020-06-03 00:12] lihua213 commented on #5
@Divadi It is not a fatal error, so just run again.

[2020-06-05 08:39] ZaiwangLi commented on #42
hi, you need "export PYTHONPATH="path/to/sassd"

[2020-06-05 08:55] Yamin05114 commented on #18
@zyms5244 any progress on multigpu case?

[2020-06-05 09:02] zyms5244 commented on #18
Nothing.
But I found the more GPUs are used, the more obvious the performance degradation is, at the same iterations.
@skyhehe123 Could you check multi-GPUs training?

[2020-06-05 09:03] zyms5244 commented on #18
Nothing.
But I found the more GPUs are used, the more obvious the performance degradation is, at the same iterations.
@skyhehe123 Could you check multi-GPUs training?

[2020-06-05 09:05] zyms5244 commented on #18
I also tried SDG and cosine lr policy as previous commit, no improvement

[2020-06-05 09:25] stalkermustang commented on #18
Do you try increase LR as squared root of increasing BS? say, with lr 0.001 and BS=2 (1 gpu) i set LR for 6 gpu (total bs=12) as 0.001*(12/2)**0.5 = 0.0025

[2020-06-05 09:27] stalkermustang commented on #18
also in recently papers i see linear increase, not squared root -> i.e. 0.006 for example above. Try this both methods for params you use and tell us result pls.

[2020-06-05 09:28] stalkermustang commented on #18
say "same iterations" you mean same number of epoch? i.e. 50 epochs with 1 gpu better than 50 epochs on 4 gpu?

[2020-06-08 01:44] Ultra11nstinct commented on #5
@Divadi @lihua213
sorry to bother, but have you solved the error?  i met the same error in epoch 60.

[2020-06-08 01:58] Ultra11nstinct commented on #24
sorry to bother,
how do you solve the dimension mismatch error in calcu the focal loss? i met the same error in training.
can yo give me some advice?

[2020-06-08 01:59] Ultra11nstinct commented on #24
hello ,have you solved the mismatch error?

[2020-06-08 04:11] tyjiang1997 commented on #17
how to solve it?? @zyms5244

[2020-06-08 04:18] zyms5244 commented on #18
I tried different epochs and GPUs:
1 GPU 80 epochs > 4 GPUs 80 epochs > 4s GPU 20 epochs > 8GPUs 10 epochs.
with LR linear increase. I'll try squared root later and share yours.

[2020-06-08 07:18] jiangzhuo1111 commented on #37
Sorry for disturbing you again.I have already fixed some bugs and got better results. But my  results are not good at long distance（50~80m）, about 0.2 ap.
May I know if  you do some changes for long distance detection？

[2020-06-08 07:54] stalkermustang commented on #37
I don’t remember anything like that, that is, for me there was no difference, 10 or 70 meters

[2020-06-08 10:59] Yamin05114 commented on #18
I have tried different lr for one cycle case. **Increasing Lr** will make the problem **even worse**. obviously, the training process had not converged yet(validation results are still improving). My current suggestion will be:
1. adjust lr by hand with **step scheduler** instead of using one cycle
2. **increase epoch** num
3. adjust the rate of 1st and 2nd stage from 0.4 : 0.6 to 0.3:0.7

[2020-06-08 21:23] SiftingSands commented on #24
No, I never revisited looking into the issue.

[2020-06-09 01:22] Ultra11nstinct commented on #24
@SiftingSands Thanks for your reply. i tried another time yesterday and no error happens. It is completely trained for 80 epochs.

[2020-06-09 18:42] SiftingSands commented on #24
Yeah, I had a similar experience with the error occurring somewhat randomly.

[2020-06-10 06:57] Yamin05114 commented on #18
All the work above are wrong. But the converge issue is obvious

[2020-06-10 11:19] amritpaul commented on #26
@Royaler Were you able to visualize the results on images?

[2020-06-11 07:10] abhigoku10 opened #45 "Quantization value of voxelization"
@skyhehe123 @stalkermustang   how did u set the value of [0.05m,0.05m,0.1m] for quantization ?? did u test this with lower points objects . i have to perform detection on objects of smaller dimension so should i change the quantization values or anchor values

[2020-06-13 02:29] cuge1995 opened #46 "command 'gcc' failed"
/ATen/core/TensorBody.h:341:7: note: declared here
   T * data() const {
       ^
error: command 'gcc' failed with exit status 1

[2020-06-15 19:41] Divadi commented on #37
Hi, for another dataset, for line https://github.com/skyhehe123/SA-SSD/blob/24c91497e981d0ea70e35a9efa4eb774beb543bf/configs/car_cfg.py#L28
should the values match the point cloud range in the following line?https://github.com/skyhehe123/SA-SSD/blob/24c91497e981d0ea70e35a9efa4eb774beb543bf/configs/car_cfg.py#L116

So the grid offset would be (beginning of x, end of y)? It felt a little odd, so I w

[2020-06-15 20:23] stalkermustang commented on #37
In first line you should redefine offsets according to your setup in cfg, i.e. for waymo i set:
`extra_head=dict(
        type='PSWarpHead',
        grid_offsets = (70.4, 70.4),
        featmap_stride=.4,
        in_channels=512,
        num_class=1,
        num_parts=28,
    )`, so minimal of my X's and y's is always zero (say there's a point in scene with coords XYZ [-70.389,  -70.0, 3.0] after

[2020-06-16 02:25] Divadi commented on #37
Ah, so it's the offset b/n the minimum of the pointcloud & (0,0), thank you!

[2020-06-16 06:03] ltphy opened #47 "Very low outcome while trying to reproduce result."
First question:
I try to reproduce the result with the following comment (required dataset has been already generated).
`python3 test.py ../configs/car_cfg.py ../saved_model_vehicle/epoch_50.pth`
This is the result, which seems to be not correct:
![result](https://user-images.githubusercontent.com/32784614/84737110-6e31bb00-afd1-11ea-8215-1788e051815d.png)

Second question:
When I try to train on

[2020-06-24 03:10] abhigoku10 commented on #37
@skyhehe123  any updates on the multiclass training ??

[2020-06-29 02:08] #42 closed, assigned to nobody

[2020-06-29 07:17] mengxingshifen1218 commented on #19
I also meet this problem. Have you solved it ?

[2020-06-29 07:24] stalkermustang commented on #19
https://github.com/skyhehe123/SA-SSD/issues/19#issuecomment-619886333 @mengxingshifen1218

[2020-06-29 07:54] mengxingshifen1218 commented on #19
thank you！

[2020-07-05 09:35] wangzhangfei-hkd opened #49 "Pretrained Model"
Dear author, when I run the program, I have the following problems:

[code]
i changed it to  `model_state_disk = checkpoint['state_dict']`
But the accuracy of the final detection results is very low, the results are as follows
[code]

How can I modify it to achieve the results of your paper.
We look forward to your reply.

[2020-07-06 01:07] wangzhangfei-hkd commented on #49
This problem has been solved. First, you need to train yourself, and then test it.

[2020-07-06 01:08] #49 closed, assigned to nobody

[2020-07-07 03:31] ipie2050 commented on #19
"You should change key to load model.
Print checkpoint.keys() first to see options, and choice right one.
BTW after that you got load weights problem, caused my DataParallel apply - easy add 'model.' at the start of weights alias/key in OrderedDict in model state."

Can you make the second part  clearer? Namely, how do you exactly modify the following:

--------------------------------------------

[2020-07-08 09:33] abhigoku10 opened #50 "Guided Anchors function"
@skyhehe123 @stalkermustang what is the function of guided anchors function used ?? i am trying to add the multiclass training and getting stucked in this can you share your pointers on how to modify the code for multiclass anchors

Thanks in advance

[2020-07-08 09:55] abhigoku10 commented on #37
@Divadi @skyhehe123  did you guys perform the multiclass training for the current sassd pipeline ??

[2020-07-10 02:34] zhixiongzh opened #51 "module 'wx' has no attribute 'FONTWEIGHT_LIGHT'"
when I run test.py, it shows the  module 'wx' has no attribute 'FONTWEIGHT_LIGHT'.
I have no idea why the project need module "wx" and how to fix it.
Can anybody kindly help me ?
Thanks!

`
(base) root@6e64d0f6dcca:~/SA-SSD# python3 tools/test.py configs/car_cfg.py epoch_50.pth
Traceback (most recent call last):
  File "tools/test.py", line 6, in <module>
    from mmdet.core.evaluation.kitti_eval

[2020-07-10 10:32] #51 closed, assigned to nobody

[2020-07-10 13:19] zhixiongzh commented on #12
I encountered the same error.  How you solve the problem in the end?

[2020-07-10 13:52] zhixiongzh opened #52 "setup.py build_ext fail"
When I run
`python3 setup.py build_ext --inplace
running build_ext
`
I met such errors. Can anybody help me how to fix this problem? My cuda =10.2,pytorch=1.5,spconv=1.2
`shawn@shawn-HP:~/SA-SSD/mmdet/ops/iou3d$ python3 setup.py build_ext --inplace
running build_ext
/home/shawn/.local/lib/python3.6/site-packages/torch/utils/cpp_extension.py:305: UserWarning: Attempted to use ninja as the BuildExte

[2020-07-11 10:11] praj441 opened #53 "mmcv error : can't improt module parallel_test"
It seems current version of package mmcv has removed function parallel_test. Author has not mentioned which version of mmcv it used ?

[2020-07-11 14:26] praj441 commented on #53
Solved !! No need for 'parallel_test' as it is not used anywhere in the code. So just remove it.

[2020-07-11 14:26] #53 closed, assigned to nobody

[2020-07-11 14:27] praj441 opened #54 "KeyError: 'model_state' in file SASSD/tools/train_utils/__init__.py", line 157"
The error I got while running tools/test.py
Any suggestion !!

[2020-07-11 15:16] praj441 commented on #54
Duplicate !!

[2020-07-11 15:16] #54 closed, assigned to nobody

[2020-07-11 15:32] praj441 commented on #25
Luckily , I didn't get this bug. :) :)

[2020-07-12 00:11] ipie2050 commented on #19
@mengxingshifen1218:
Can you share how to solve your model_state issue using the comment [#19 (comment) ](https://github.com/skyhehe123/SA-SSD/issues/19#issuecomment-619886333) from
@stalkermustang? Thanks.

[2020-07-13 04:26] Royaler commented on #52
maybe the version of pytorch?

[2020-07-13 08:32] songw-zju opened #55 "ImportError: /home/weijk/ws/SA-SSD-master/mmdet/ops/points_op/points_op_cpu.cpython-37m-x86_64-linux-gnu.so: undefined symbol: _ZN6caffe28TypeMeta21_typeMetaDataInstanceIN3c108BFloat16EEEPKNS_6detail12TypeMetaDataEv"
When I run the create_data.py, the error always occurs:
ImportError: /home/weijk/ws/SA-SSD-master/mmdet/ops/points_op/points_op_cpu.cpython-37m-x86_64-linux-gnu.so: undefined symbol: _ZN6caffe28TypeMeta21_typeMetaDataInstanceIN3c108BFloat16EEEPKNS_6detail12TypeMetaDataEv

with cudatoolkit-9.0, pytorch-1.1.0, torchvision-0.3.0, torch-1.1.0

[2020-07-15 06:15] skyhehe123 commented on #37
@Divadi @abhigoku10 @stalkermustang
The multiclass training is done, I will release it this week after cleaning. Sorry for the late release

[2020-07-15 11:36] abhigoku10 commented on #37
@skyhehe123  thanks for this, is it possible to share the uncleaned code so we can look into the implementation !!!

[2020-07-16 14:01] abhigoku10 commented on #37
@skyhehe123 @stalkermustang  i have modified the code for multi-class training, taking car and peds as labels, but my guided anchors give zero output after certain epochs due to which i get nan in my loss calculation, so when i debugged it my classification loss is not satisfying the condition of "selected = top_scores > thr" in ssd_rotatehead.py . Any pointers on this

[2020-07-18 12:07] abhigoku10 commented on #37
@skyhehe123  eagerly waiting for the update!! to see the results since my code modifications is not yielding results

[2020-07-18 16:13] Royaler commented on #28
@skyhehe123

[2020-07-18 16:15] Royaler commented on #38
@stalkermustang do you know how to run the code only on cpu

[2020-07-18 17:04] stalkermustang commented on #38
think there's no option for cpu run cause some ops writen as cuda ops (not cpu)

[2020-07-20 10:51] abhigoku10 commented on #37
@skyhehe123  any updates on the this ???

[2020-07-21 14:15] abhigoku10 commented on #37
@stalkermustang in your multiclass training for PointRCNN did u use softmax or sigmoid for multiclass training ? i am getting no predictions in my code when i make the changes as classfication is no working properly
@skyhehe123  any update on the multiclass training activity

[2020-07-21 14:28] tyjiang1997 opened #56 "Should val be added to the training when submitted on the official website?"
Hello, do you need to add the val dataset to the training to submit your results on the KITTI official website? I did so, but the accuracy decreased by 1 percentage points. Can you tell me the reason for this?

[2020-07-22 07:38] aqrliu commented on #56
@LittleYuanzi @skyhehe123 hello,can you get the same mAP as authors?,I clone this project,and download the  pretrained model ,but the result mAP is lower about 6％．and I trained the model with cfg (without modified),the mAP is lower still.

[2020-07-22 07:40] aqrliu commented on #55
Maye you can  try recomplie this c++ code

[2020-07-23 03:38] tyjiang1997 commented on #56
No.
I can't either.

[2020-07-28 12:41] mengxingshifen1218 commented on #19
You can train this model by yourself，it will be ok.

[2020-07-29 03:23] whj8810 opened #57 "The detector can run at 25 FPS with a single 1080ti？"
hello,author,do you run it with a single 1080ti ? I can not run detector at 25 fps  with a single 1080TI gpu.I don't know why I can almost run at 6 fps when i test it.

[2020-07-29 07:42] hughlee815 opened #58 "ValueError: need at least one array to concatenate"
大佬们：
我在运行test.py的时候报了这个错：
`Traceback (most recent call last):
  File "test.py", line 163, in <module>
    main()
  File "test.py", line 158, in main
    result = get_official_eval_result(gt_annos, outputs, current_classes=class_names)
  File "/home/nio/pointdet/SA-SSD/mmdet/core/evaluation/kitti_eval.py", line 829, in get_official_eval_result
    gt_annos, dt_annos, current_classes, min_overlaps,

[2020-07-29 07:42] hughlee815 commented on #58
Traceback (most recent call last):
  File "test.py", line 163, in <module>
    main()
  File "test.py", line 158, in main
    result = get_official_eval_result(gt_annos, outputs, current_classes=class_names)
  File "/home/nio/pointdet/SA-SSD/mmdet/core/evaluation/kitti_eval.py", line 829, in get_official_eval_result
    gt_annos, dt_annos, current_classes, min_overlaps, compute_aos, difficultys)

[2020-07-30 03:36] bigsheep2018 opened #59 "how to reproduce the demo"
hello sa-ssd team,
       Thanks for sharing this wonderful work.
       May I know how can I reproduce the demo, because, by default,  the training set or validation set is a random ordered sequence.
       Or may i know where do you get the right ordered sequence on the kitti website.

[2020-07-30 13:33] songw-zju opened #60 "cuda execution failed with error 35"
when I run train.py, there are lots of errors in numba, and an error occrured:
Traceback (most recent call last):
  File "tools/train.py", line 130, in <module>
    main()
  File "tools/train.py", line 120, in main
    log_interval = cfg.log_config.interval
  File "/home/weijk/ws/SA-SSD/tools/train_utils/__init__.py", line 95, in train_model
    log_interval = log_interval
  File "/home/weijk/ws/S

[2020-07-31 06:42] hughlee815 commented on #11
i also have the same problem and the same question. why does everyone not tell where to do the setting.

[2020-07-31 09:46] yangyongguang commented on #49
i have meet the same problem and i do not understand what you mean. why should i need to train it again and than test it.

[2020-08-03 03:57] wangzhangfei-hkd commented on #49
Hi. After testing, directly using the weight file given by the author will report an error. You can get the weight file after training yourself, and then you can test it without error. Because I didn’t look at the code carefully, I still don’t know the difference between the two.

[2020-08-03 03:57] wangzhangfei-hkd commented on #49
Hi, After testing, directly using the weight file given by the author will report an error. You can get the weight file after training yourself, and then you can test it without error. Because I didn’t look at the code carefully, I still don’t know the difference between the two.

[2020-08-04 09:16] wangzhangfei-hkd commented on #34
@skyhehe123 ，Sorry to disturb you, do you have an update on this question now.

[2020-08-05 05:51] skyhehe123 commented on #37
@abhigoku10 @stalkermustang @Divadi Hi, the multiclass training is added

[2020-08-05 05:51] #37 closed, assigned to nobody

[2020-08-05 05:52] skyhehe123 commented on #57
In my case, the detector can run at 25FPS with 2080Ti

[2020-08-05 05:52] #57 closed, assigned to nobody

[2020-08-05 06:11] skyhehe123 commented on #34
@s-ryosky @wangzhangfei-hkd The multiclass training is updated!

[2020-08-05 06:11] #34 closed, assigned to nobody

[2020-08-05 06:15] skyhehe123 commented on #28
@abhigoku10 The model currently only supported GPU due to spconv's compatibility. The inference time is 25 FPS in 2080Ti, it is measured by setting the batch_size=1. The actually elapsed time is starting from loading the point cloud from the .bin file and ending at producing bounding-box.

[2020-08-05 06:15] #28 closed, assigned to nobody

[2020-08-05 06:15] #39 closed, assigned to nobody

[2020-08-05 06:37] abhigoku10 commented on #37
@skyhehe123  thanks for sharing multiclass code , has the inference timing changed with addition of multiple classess

[2020-08-07 02:09] rolan123 opened #61 "error in multi-class training:'Tensor' object has no attribute 'bool'"
error in multi-class training:
Traceback (most recent call last):
  File "train.py", line 127, in <module>
    main()
  File "train.py", line 117, in main
    log_interval = cfg.log_config.interval
  File "/root/aaaaaaaa/SA-SSD/tools/train_utils/__init__.py", line 99, in train_model
    log_interval = log_interval
  File "/root/aaaaaaaa/SA-SSD/tools/train_utils/__init__.py", line 57, in train_one_

[2020-08-07 02:30] rolan123 commented on #61
my pytorch version=1.1.0

[2020-08-07 10:43] PengfeiMa commented on #61
try `opp_labels = (box_preds[..., -1] > 0) ^ dir_labels.bool()`  ----> `opp_labels = (box_preds[..., -1] > 0) ^ dir_labels.byte()`

[2020-08-08 10:31] abhigoku10 opened #62 "Metrics of multiclass training"
@skyhehe123  Have taken the pre-trained model and tested not obtaining the same metrics as mentioned in the readme for the 3d?? what is the reason for moving from 41pt interpolation to 11pt interpolation method for metric generation ?

[2020-08-09 09:53] yangyongguang opened #63 "we can achieve the 3d mid to 84.50. but the bev mid still around 90.0, what wrong with me"
your's
Car  AP@0.70, 0.70, 0.70:
bev  AP:96.55, 92.79, 90.32
3d   AP:93.13, 84.54, 81.71

mine
Car  AP@0.70, 0.70, 0.70:
bev  AP:96.51, 90.37, 87.76

we want to know,  you have split the train dataset as 8:2 to train a model?

[2020-08-10 07:06] abhigoku10 commented on #63
@yangyongguang  are you achieving 3d ap for multiclass code or single class ??

[2020-08-10 07:12] yangyongguang commented on #63
single class 3d  AP mid:84.32 is the best。 and I wand how to split the training dataset to get the BEV mid value(92.79)。

[2020-08-10 08:14] zehanzhang opened #64 "Version of mmcv"
The idea of SA-SSD is wonderful， i would like to know the version of mmv

[2020-08-10 08:28] rolan123 commented on #61
@PengfeiMa Thank you, the error in multi-class training has been resolved.
I did the training and the evaluation, and I found a new problem：
Because the few number of cyclists and the training had been over-fit, the AP began to decline.
But at the same time car's AP can continue to improve.
Cars are about twenty times as numerous as cyclists.

How to deal with it?

[2020-08-10 09:14] PengfeiMa commented on #61
@rolan123 What's your final results on per class?

[2020-08-11 09:55] xuntan97 commented on #42
hi, i have the same mistake. Can you tell me how to solve it? Thank you!

[2020-08-11 10:48] rolan123 commented on #61
epoch=70
Car AP@0.70, 0.70, 0.70:
bbox AP:97.99, 90.07, 89.72
bev  AP:98.49, 89.36, 88.96
3d   AP:90.10, 86.40, 86.47
aos  AP:97.94, 89.88, 89.28
Car AP@0.70, 0.50, 0.50:
bbox AP:97.99, 90.07, 89.72
bev  AP:98.07, 90.06, 89.78
3d   AP:98.04, 90.06, 89.77
aos  AP:97.94, 89.88, 89.28
Pedestrian AP@0.50, 0.50, 0.50:
bbox AP:64.24, 56.45, 55.70
bev  AP:63.57, 55.13, 54.11
3d   AP:61.72, 53.77, 46.88
a

[2020-08-12 03:16] PengfeiMa commented on #61
@rolan123 I test my epoch-70 and epoch-80, the results are almost the same as yours.

[2020-08-15 03:19] aaa1233211 opened #65 "Tensorflow Version"
It is a so amazing network and I love it.I want to run it in the tensorflow framework.Please info me if there is a tensorflow version.Thankyou very much.

[2020-08-17 06:53] Son-Goku-gpu opened #66 "Where are the loss weight settings?"
Hi, @skyhehe123 Would you like to point out where are the settings of loss weights in your code? I didn't find the \miu and \lambda settings as announced in your paper. Thanks a lot!

[2020-08-17 14:26] skyhehe123 commented on #66
In my paper, I tune these  hyperparamters because I found the model is quite sensitive to them. However, in my last update where using more robust optimizer and longer training epoch can make the training more stable, the settings of these two parameters therefore are not quite matters.

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Son-Goku-gpu <notificatio

[2020-08-18 03:30] Son-Goku-gpu commented on #66
Got it. Thanks for your reply!

[2020-08-18 03:31] #66 closed, assigned to nobody

[2020-08-18 03:38] Son-Goku-gpu opened #67 "Possible Misorder of [width, height, length] in gt_bboxes?"
Hi, @skyhehe123

I read your source code and find it reads gt_bboxes in line 36 of mmdet/datasets/kitti_utils.py with

`self.box3d = np.array(
                [data[11], data[12], data[13], data[9], data[10], data[8], data[14]]).astype(np.float32)`

so the input dimension has the order of [w, l, h].

While when computing the center offset for the auxiliary task, it calculate the targets of center

[2020-08-19 02:08] skyhehe123 commented on #67
@Son-Goku-gpu The transformation is taken in function project_rect_to_velo().

[2020-08-19 02:12] skyhehe123 commented on #67
@Son-Goku-gpu. The dimension order is not changed, yet the x,y,z is transformed. The x,y,z in rect coordinates correspond, y,z,x in velo coordinates.

[2020-08-19 02:13] skyhehe123 commented on #64
@zehanzhang 0.5.0

[2020-08-19 02:13] #64 closed, assigned to nobody

[2020-08-19 02:14] skyhehe123 commented on #59
@bigsheep2018 . draw_lidar() and draw_gt_bboxes() in kitti_utils.py can help

[2020-08-19 02:14] #59 closed, assigned to nobody

[2020-08-19 02:15] skyhehe123 commented on #65
@aaa1233211 I guess no, as spconv is not supporting TF.

[2020-08-19 02:15] #65 closed, assigned to nobody

[2020-08-19 02:52] Son-Goku-gpu commented on #67
@skyhehe123 I see. While if the dimension order is not changed, then the regression target  of a point  (denoted as [x', y', z'])  for the box (denoted as [x, y, z, w, l, h, ry]) center should be: (x'-x, y'-y, z'-(z+h/2)), and h is with index of 5 (boxes3d_flat[i*7+5]), while it uses boxes3d_flat[i*7+3] ( actually width) as I mentioned in the source .cpp file,  am I right?

[2020-08-20 01:33] lbsswu opened #68 "how to do train and inference on a customize dataset?"
Are there any advices on how to train and inference on a customize dataset with lidar data only?

[2020-08-24 01:36] yangyongguang commented on #5
have you solve this problem, i meet it every thrain, run it again do not help me.

[2020-08-24 01:44] Son-Goku-gpu commented on #67
@skyhehe123 Any update? Thanks!

[2020-09-03 09:08] cuge1995 opened #69 "About RGC.pytorch"
hey, I've read your paper
[code]
It was said that the source code is available at https://github. com/skyhehe123/RGC.pytorch. But this cannot find online, can you relaese it ?

[2020-09-10 07:42] lbsswu commented on #18
with 2-gpu training, I got almost zero accuracy. it is very wired, is there any suggestions?
Car AP@0.70, 0.70, 0.70:
bbox AP:0.03, 0.04, 0.07
bev  AP:0.00, 0.00, 0.00
3d   AP:0.00, 0.00, 0.00
aos  AP:0.01, 0.02, 0.03
Car AP@0.70, 0.50, 0.50:
bbox AP:0.03, 0.04, 0.07
bev  AP:0.02, 0.02, 0.03
3d   AP:0.00, 0.00, 0.01
aos  AP:0.01, 0.02, 0.03

[2020-09-21 13:18] abhigoku10 opened #70 "Voxelization for multiclass"
@skyhehe123 @stalkermustang  When i was looking into the code from a single class to multiclass code there is a difference in the voxelization param ie for the multiclass code voxelization is taken from second. Can you briefly tell what was the intent behind it . Can you let me knw how the voxelization can be set for a custom dataset? Thanks in advance

[2020-09-29 02:22] linbaiwpi opened #71 "how to generate .bin for "velodyne_reduced"?"
Hi when running "create_data.py", I encountered an error as below.
**FileNotFoundError: [Errno 2] No such file or directory: '/SA-SSD/data/training/velodyne_reduced/000000.bin'**

May I know how can I generate the .bin files for folder "velodyne_reduced"?

[2020-09-29 15:18] Rajat-Mehta opened #72 "RuntimeError: Expected object of backend CUDA but got backend CPU for sequence element 1 in sequence argument at position #1 'tensors'"
I am not able to train the model, getting error related to CUDA.
[code]

[code]

Any idea why am I getting this error and how to solve it ?

Also, I am getting a lot of warnings related to numba, how to resolve them?

Thanks in advance

[2020-09-29 15:37] Rajat-Mehta commented on #72
The error is in this line,   File "/SA-SSD/mmdet/models/single_stage_heads/ssd_rotate_head.py", line 367, in get_guided_anchors:
[code]

For now I have fixed this issue by adding this line:
[code]

is there a better solution for this ?

[2020-09-30 05:08] praj441 commented on #71
You need to create the folder velodyne_reduced manually before you run the create_data.py file.

[2020-09-30 05:17] praj441 opened #73 "Configuration for anchor_generation in config file car_cfg.py ?"
Hi,
I am not able to understand what is 'anchor_offsets' in the anchor_generation setting in the file configs/car_cfg.py. What does it signify? How the particular values are chosen?
Please kindly, anyone answers my question. Humble request.

[2020-10-01 02:23] linbaiwpi commented on #71
Thank you for the reply. But how can I generate it manually?

[2020-10-02 08:40] praj441 commented on #71
Its really simple, Go to at /SA-SSD/data/training/ and just use mkdir command (to create a new directory)

[2020-10-06 20:29] linbaiwpi commented on #71
oh, just create a empty directory. thanks!

[2020-10-06 20:29] #71 closed, assigned to nobody

[2020-10-08 01:48] Ultra11nstinct commented on #5
sorry, i didnt meet it anymore
sounds wierd ,but it exactly didnt crushed.

[2020-10-08 01:57] Ultra11nstinct commented on #5
@Son-Goku-gpu @AlphaPlusTT
sorry to bother, your results seems similar to the published.
i wanna know do you have any modifications? can you share your config file?
and i wanna know that which checkpoint do you use, 50 or 80?
and do you use the pretrained model in training？

This is my results at checkpoint_50 with default config
Car AP@0.70, 0.70, 0.70:
bbox AP:99.19, 93.54, 91.00
bev  AP:96.71,

[2020-10-08 02:30] Son-Goku-gpu commented on #5
Hi, Goku fan @Ultra11nstinct  :)

I can only find this log (see the attached file) which I'm not sure if it corresponds my uploaded results above, but should be similar. In my memory, I did make several modifcations to make this codebase run and what I used is the previous version (50 epoches). As I just run it for several times and move to my own work, so I don't remember too much, and my suggest

[2020-10-08 03:21] Ultra11nstinct commented on #5
oh, i forgot to @Son-Goku-gpu

Thanks for your reply.

1. i have reproduced the db infos by using create_data.py for train and val sets.
2. i currently use spconv 1.2, you mean that maybe spconv 1.0 will get better performance?
3. emm, i checked the evaluation code (kitti_eval.py) in master branch, and found it actually uses 41 sampling points. i didnt find
    any code about "40 sample pts", is t

[2020-10-16 10:03] praj441 opened #74 "TypeError: grid_sample() got an unexpected keyword argument 'align_corners'"
While training for multi_class, I am getting this error.  My PyTorch version is 1.1.0.
I searched on google and find out that the attribute 'align_corners' is introduced in PyTorch 1.3.0.
I request the author to update its Dependency requirement in ReadMe.

[2020-10-16 10:12] praj441 commented on #74
The alternative and simple solution is to remove the argument 'align_corners=True' from the function "torch.nn.functional.grid_sample" in file mmdet/models/single_stage_heads/ssd_rotate_head.py
But I don't know if this can cause performance issues.

[2020-10-17 12:21] praj441 opened #75 "In multi_cfg.py, why num_class=1 for extra_head ?"
The **model configs** are mentioned as follow in file config/multi_cfg.py :
model = dict(
    type='SingleStageDetector',
    backbone=dict(
        type='SimpleVoxel',
        num_input_features=4,
        use_norm=True,
        num_filters=[32, 64],
        with_distance=False),

    neck=dict(
        type='SpMiddleFHD',
        output_shape=[150,440,440],
        num_input_features=4,

[2020-10-19 17:40] lishuwei10 commented on #25
I face the same problem as yours. Have you found any solution?

[2020-10-21 11:13] jialeli1 opened #76 "How to measure the inference time?"
I noticed that you analyzed the inference time in Table 9, but I did not find the relevant code in this repo to do this. Can you tell me how to measure it?
Thanks.

[2020-10-27 09:20] Rajat-Mehta commented on #30
@MichaelSunEngineer Could you please share how did you solve this issue? Are you able to visualize the detection results ?

[2020-10-28 04:39] gujiaqivadin opened #77 "The voxelization of input point cloud"
Hello, skyhehe123!
     Thanks for you excellent work. In your paper, I found the pre-processing method of point cloud is different from voxelization in SECOND method and is more efficient and fast. But i found in your code that the voxelgenerator in points_ops is the same as SEOCOND method. Can you tell me where to find your simple quantization code?

[2020-11-03 10:47] cuge1995 opened #78 "Where is Detachable auxiliary network in code ?"

[2020-11-06 07:32] stephen20190822 opened #79 "setup.py build_ext fail RuntimeError: Error compiling objects for extension"
I met such errors. Can anybody help me how to fix this problem? Thanks advance! My cuda =10.1,pytorch=1.7
(SASSD) a3168@3168:~/SUN/SA-SSD-master/mmdet/ops/points_op$ python setup.py build_ext --inplace
running build_ext
building 'points_op_cpu' extension
Emitting ninja build file /home/a3168/SUN/SA-SSD-master/mmdet/ops/points_op/build/temp.linux-x86_64-3.8/build.ninja...
Compiling objects...
Allow

[2020-11-09 11:14] wennieWN commented on #72
THX! I have met the same problem, and have been solved by your solution!

[2020-11-10 16:30] kaushik333 commented on #57
Can you please share how you are visualizing results? This codebase doesnt seem to provide any. Thanks in advance.

[2020-11-10 16:38] kaushik333 opened #80 "Help needed in visualizing results"
@skyhehe123  I am trying to visualize the results after performing training. However I do not see any code-instructions to do so. Can you please point me towards how you visualized your results? I came across [kittiviewer](https://github.com/traveller59/second.pytorch/tree/master/second/kittiviewer) in the pointPillars code-base. But this code is not generic and is tied to the repo. So can you ple

[2020-11-11 05:38] skyhehe123 commented on #80
@kaushik333 The drawing function for both image and point cloud are implemented in
https://github.com/skyhehe123/SA-SSD/blob/2d75c973af65453186bd9242d7fa5e62dc44ec03/mmdet/datasets/kitti_utils.py.
To visualize point cloud, please install mayavi package.

[2020-11-11 05:52] kaushik333 commented on #80
Thank you for you response. I am having trouble running mayavi. I am trying to visualize the results in a jupyter notebook on a remote server. But mayavi just isnt working for me. The library loads, but the jupyter cell doesnt respond at all i.e. keeps running indefinitely. mlab.figure() is what gives me this issue.

Is there a way to save and view mayavi figures later?

[2020-11-12 08:59] leoluxxx commented on #78
SA-SSD-master\mmdet\models\necks\cmn

[2020-11-15 10:46] leoluxxx commented on #9
I met the same error "ModuleNotFoundError: No module named 'mmdet.core.bbox3d'",how did you make it work

[2020-11-15 10:51] leoluxxx opened #81 "ModuleNotFoundError: No module named 'mmdet.core.bbox3d'"
error when I run create_data.py,ModuleNotFoundError: No module named 'mmdet.core.bbox3d'
mmdet is installed correctly, related functions can be found in the file, but cannot be referenced

[2020-11-15 11:00] leoluxxx commented on #81
python==3.6
torch==1.3  torchcision==0.4.1
cuda==10.0  cudnn==7.6.5
mmcv-full==1.2.0   mmdet==2.6.0

[2020-11-16 04:52] lihua213 commented on #57
Hello, my dear friend, I get a speed at 15FPS on a TITAN RTX GPU. is there a code to test the speed? Thanks so much.

[2020-11-16 06:17] csgogo commented on #24
hello,  i met the same error in training.
can you tell me how to fix them?
thanx plz.

[2020-11-16 14:11] wangzhangfei-hkd commented on #57
Hello, what is the speed of multi classification detection on 2080ti? I am looking forward to your reply. Thank you

[2020-11-17 01:09] #81 closed, assigned to nobody

[2020-11-17 01:24] leoluxxx commented on #55
you can delete the built、pycache、.so in the ops/points_op and compile Compile C++/CUDA modules again,that work for me

[2020-11-17 07:06] dimitree54 commented on #49
It seems that they have changed names of some weights in newer versions, so to load provided pretrained model I had to change loading code a bit:

[code]

With that code I am able to load a model and achieve accuracy metrics provided at main page (without any retraining).

[2020-11-17 07:09] dimitree54 commented on #19
Check [my answer](https://github.com/skyhehe123/SA-SSD/issues/49#issuecomment-728733137) at duplicate issue. I have provided code to load pretrained model without any training there.

[2020-11-18 01:26] BoXingJinQiu opened #82 "FileNotFoundError: file "/home/xys/SA-SSD-master/tools/config" does not exist"
FileNotFoundError: file "/home/xys/SA-SSD-master/tools/config" does not exist

[2020-11-21 08:24] oreo-lp commented on #79
me too!

[2020-11-21 10:43] oreo-lp commented on #79
Hi, i have solved this problem. i change my torch version to pytorch=1.4.0 and torchvision=0.5.0.
now my environment is :
ubuntu 16.04
pytorch 1.4.0
torchvision 0.5.0
reference:
https://github.com/facebookresearch/maskrcnn-benchmark/issues/1236#

[2020-11-21 13:10] oreo-lp opened #83 "ModuleNotFoundError: No module named 'mmdet.ops.iou3d.iou3d_cuda'"
when i run **python3 tools/create_data.py**
i met a problem:
**ModuleNotFoundError: No module named 'mmdet.ops.iou3d.iou3d_cuda'**
Can anybody teel my what i should do to solve this problem?

[2020-11-22 02:48] oreo-lp commented on #83
i have solved this error:
cd mmdet/ops/points_op
python setup.py build_ext --inplace
cd mmdet/ops/iou3d
python setup.py build_ext --inplace
cd mmdet/ops/pointnet2
python setup.py build_ext --inplace****

[2020-11-22 02:49] #83 closed, assigned to nobody

[2020-11-26 01:41] MuMuJun97 commented on #5
@zxduan90 , sorry to bother

When you retrained the network, did you use a **pre-trained model**?

https://github.com/skyhehe123/SA-SSD#pretrained-model

In the Readme.txt, the author provide a pre-trained model. I don't know whether it should be use in the training progress.

And what's the difference between the two results?  **AP@(11 recall points) vs 40 recall poisitions** ?
![image](https://u

[2020-12-01 03:18] chenxyyy commented on #58
遇到了相同的问题, 解决方案如下:

[code]

[2020-12-01 08:55] #58 closed, assigned to nobody

[2020-12-01 13:02] hitxing commented on #80
Hi, I am also trying to visualize the results, have you already finished it?  If so, could you please point me towards how to visualized your results?

[2020-12-01 16:25] kaushik333 commented on #80
This is the repository I used to visualize my code : https://github.com/kuixu/kitti_object_vis

More specifically this : https://github.com/kuixu/kitti_object_vis/tree/master/jupyter

In my environment I was not able to get the dependencies to work. mayavi has some weird version dependencies which I was ultimately not able to figure out. So, I used this docker image and tried it inside that.

http

[2020-12-02 08:57] nmll commented on #75
why the featmap_stride=0.4？

[2020-12-03 08:30] zgh2022 opened #84 "Question about create_data.py"
When I run create_data.py. 它卡在了Generate info. this may take several minutes.
我不知道这里是卡住了，还是这里真的需要等待很长时间

[2020-12-07 03:01] hitxing opened #85 "training error"
Thanks for the great work ! My enviornment as follows:
CUDA10.0  torch1.1.0  torchvision0.3.0  python3.6.5  spconv1.0 cmake3.16.0
Evaluate the model is OK, however, when I try to train a model by run the script "python3 train.py ../configs/car_cfg.py" , An error was encountered:
(SASSD) weixing@weixing:~/deeplearning/projects/SA-SSD/tools$ python3 train.py ../configs/car_cfg.py
/home/weixing/anaco

[2020-12-07 03:16] hitxing commented on #80
Thanks a lot! I'm sorry not reply you in time since I'm a bit busy these days，If possible，maybe we communicate with WeChat is more convenient, my WeChat is HLX18774475803.

[2020-12-07 03:18] hitxing commented on #80
@kaushik333 Thanks a lot! I'm sorry not reply you in time since I'm a bit busy these days，If possible，maybe we communicate with WeChat is more convenient, my WeChat is HLX18774475803.

[2020-12-08 09:21] #84 closed, assigned to nobody

[2021-01-14 16:05] gebawe commented on #68
Hi @lbsswu,

I was also looking to train it on the custom dataset, Did you find any solution?

[2021-01-28 11:18] WWW2323 opened #86 "install spconv 1.0"
hi，could you help me with the installation of spconv 1.0？It doesn't work when i use "pip install git+https://github.com/traveller59/spconv/tree/8da6f967fb9a054d8870c3515b1b44eca2103634"

[2021-02-05 07:29] #86 closed, assigned to nobody

[2021-02-08 12:15] zhiweiai commented on #75
0.05*8

[2021-02-09 15:21] kaushik333 commented on #37
Hi,

May I know how you came up with these values? I am trying to adapt SASSD to nuscenes dataset. however, the loss doesnt go down as well as Kitti. I dont know whether the problem is in the configuration settings or in the training hyperparameters.

[2021-02-23 05:40] sherlockzym opened #87 "raise RuntimeError(MISSING_LIBDEVICE_FILE_MSG.format(arch=arch)) RuntimeError: Missing libdevice file for compute_50. Please ensure you have package cudatoolkit 7.5. Install package by: conda install cudatoolkit=7.5"
(ssd) root@logic:~/SA-SSD# python tools/create_data.py
Traceback (most recent call last):
  File "tools/create_data.py", line 8, in <module>
    from mmdet.core.bbox3d.geometry import remove_outside_points, points_in_rbbox, box_camera_to_lidar
  File "/root/SA-SSD/mmdet/core/__init__.py", line 1, in <module>
    from .anchor import *  # noqa: F401, F403
  File "/root/SA-SSD/mmdet/core/anchor/__ini

[2021-02-23 05:44] sherlockzym commented on #87
tried     sudo ln -s libdevice.10.bc libdevice.compute_50.10.bc
But the operation returns the same error

[2021-02-26 01:27] sherlockzym opened #88 "RuntimeError: CUDA out of memory. Tried to allocate 310.00 MiB (GPU 0; 7.80 GiB total capacity; 4.05 GiB already allocated; 102.44 MiB free; 404.92 MiB cached)"
(ssd) root@logic:~/SA-SSD/tools# python train.py ../configs/car_cfg.py
2021-02-26 09:22:00,718 - INFO - Distributed training: False
2021-02-26 09:22:00,718 - INFO - Set random seed to 0
[40, 1600, 1408]
load 14357 Car database infos
After filter database:
load 10520 Car database infos
2021-02-26 09:22:05,502 - INFO - **********************Start training**********************
Traceback (most recent

[2021-03-01 02:12] sherlockzym opened #89 "RuntimeError: CUDA error: invalid argument"
(ssd) root@logic:~/SA-SSD/tools# python ./test.py ../configs/car_cfg.py ../20200701/checkpoint_epoch_80.pth
[40, 1600, 1408]
Evaluate on ['Car']
==> Loading parameters from checkpoint ../20200701/checkpoint_epoch_80.pth to GPU
==> Checkpoint trained from version: none
==> Done (loaded 148/148)
[                                                  ] 0/3769, elapsed: 0s, ETA:Traceback (most recent call

[2021-03-18 08:14] june2678 commented on #46
I met the same problem ,do you solve it?

[2021-03-23 09:11] june2678 opened #90 "RuntimeError:all input tensors must be on the same device. received cuda:0 and cpu"
my pytorch version is 1.7.1
cuda version = 11.1 (because of RTX 3090)
when run `python train.py ../configs/car_cfg.py`

RuntimEerror:all input tensors must be on the same device. received cuda:0 and cpu
the error is in this line
"/SA-SSD-master/mmdet/models/single_stage_heads/ssd_rotate_head.py" line 368 in get_guided_anchors
`top_labels = torch.cat([gt_lbls,top_labels],0)`

[2021-03-23 12:13] june2678 commented on #90
maybe I solve it
add `top_labels = top_labels.to("cuda")`
before top_labels = torch.cat([gt_lbls,top_labels],0)

[2021-03-30 05:03] eshoyuan commented on #79
me too! And I use RTX3090  only support cuda11. I can't change my torch version to 1.4.0

[2021-04-13 11:39] hhd-shuai commented on #79
I had the same problem.
RTX3090 and cuda11.0
Please let me know if you can solve it. Thanks

[2021-04-13 11:59] eshoyuan commented on #79
I have solved the problem, but I forgot the solution. Sorry. However, the problem can be solved and google will help you.

[2021-04-13 12:05] hhd-shuai commented on #79
okk
Thanks a lot.

[2021-04-13 12:10] hhd-shuai commented on #79
okk
Thanks a lot.

[2021-04-14 09:18] hhd-shuai commented on #79
I have downgrade pytorch version to 1.7 stable,but it doesn't work for me.
And now I got a same error like this:
![runtimeerror](https://user-images.githubusercontent.com/26813082/114686339-43290c80-9d45-11eb-8f2f-0ccec5c4ea34.png)

Do you have any advice? Could you tell me your pytorch version and cuda version?
Thank you in advance.

[2021-04-14 13:26] eshoyuan commented on #79
I am sorry. I searched through my chorme history, but i really forgot the solution. maybe you can look on this page https://github.com/CharlesShang/DCNv2/pull/92 . This page appeared in my chrome history after I comented.

[2021-04-14 13:27] eshoyuan commented on #79
My pytorch is 1.8.1.

[2021-04-14 14:03] hhd-shuai commented on #79
Thanks for the clue!

[2021-04-14 14:04] hhd-shuai commented on #79
Thanks AGAIN!

[2021-04-15 10:01] vehxianfish commented on #41
Hi,which version use to reproduce result?any do other operation?Thank you for your replay~!

[2021-04-15 11:11] hhd-shuai commented on #79
you can try
Modify
SA-SSD/mmdet/ops/points_op/src/points_op.cpp
`#define CHECK_CONTIGUOUS(x) AT_CHECK(x.is_contiguous(), #x, " must be contiguous ")`
to
`#define CHECK_CONTIGUOUS(x) AT_ASSERT(x.is_contiguous())`

SA-SSD/mmdet/ops/pointnet2/src/interpolate.cpp
`cudaStream_t stream = THCState_getCurrentStream(state);`
to
`cudaStream_t stream = at::cuda::getCurrentCUDAStream();`

SA-SSD/mmdet/ops/iou

[2021-04-18 03:18] vehxianfish opened #91 "multi-GPU trainning error"
I use multi-GPU trainning,but errors occurs:
[code]
Any one meet this question or can help me to check this errors?
Thank you very much~~~

[2021-04-28 00:46] vehxianfish commented on #31
@outsidercsy .Do you reproduce the result.Can your share your steps here?Or the lib version effect on the result,eg.spconv? thank you!

[2021-04-28 01:10] vehxianfish commented on #18
Hi,@Yamin05114 .Thank you  for your test and post here.Do you reproduce the result of paper?if can,can you pose your lib version and other details for reproduce the result?thank you.
I use 4*2080Ti,the result only 79 on moderate and test a lot.thank you very much!

[2021-04-29 16:37] vehxianfish commented on #90
Hi,@YingjieHou .I also use 3090 to run the program.But errors always occurs:
In code:
[code]
the errors :
[code]
Do you meet this question?Thank you!

[2021-04-30 13:07] vehxianfish opened #92 "error on RTX3090"
Hi,thanks for your greak job .I use 3090 to run the program.But errors always occurs:
In code:
[code]
the errors :
[code]
and only `yg,rg` have this error,`xg,wg,lg` don not have errors.it confused me a lot.
My lib version:
[code]
anyone meet this question?Thank you!

[2021-04-30 13:38] vehxianfish commented on #92
I have solved it,Thank you!

[2021-04-30 13:38] #92 closed, assigned to nobody

[2021-06-09 01:19] vehxianfish commented on #63
Hi, single class and single gpu only implement 3D AP mid:83.98 on traing dataset 1:1.
I have test for two months.Can you tell me your config and dataset split.
Can you tell me your dataset augmentation:eg.random rotate or others?
Do you use groud truth？
Thank you very much.It puzzles me a lot

[2021-06-09 01:31] vehxianfish commented on #31
@Divadi .Hi,Do you reproduce result On 3D mid with 84.40? I only has 84.05 with 3.5 difference.
Thank you very much.
Do you data augmentation includes Groudtruth augmentation?

[2021-06-09 01:53] vehxianfish commented on #5
@MuMuJun97 .
Hi,brother.Do you reproduce the result?If you did,please list your details.eg,data augmentaion,epochs,lib versions.

[2021-06-11 13:42] Jackman0316 commented on #92
I got the same error. Do you remember what's the reason for this? Thank you very much!

[2021-06-11 13:56] Jackman0316 commented on #92
Changing .unsqueeze_(-1) to .unsqueeze(-1) solved this, Only happens in yg and rg, so weird.

[2021-06-12 04:47] vehxianfish commented on #92
Sorry,so later to reply you.I only remember the reastion.because pytorch version has changed a lot.you should use alternative operations.

[2021-06-30 00:45] BrandonBian opened #93 "Training from a checkpoint"
Hi! I recently built the environment and successfully started training.

Is there a way to start the training from a checkpoint / saved weights? I did not see this option in the configuration file or in the arguments of the train.py.

Thanks!

[2021-07-09 13:43] quan-dao commented on #79
Thanks @hhd-shuai, your solution works for me. My environment is:

- ubuntu 18.04
- pytorch 1.7.0
- cuda 10.2
- python 3.7

[2021-07-25 05:33] vehxianfish commented on #85
@hitxing .Hi,Do you solve this question? thank you.

[2021-08-11 03:58] CharviVitthal opened #94 "PRE-TRAINED MODEL for multi-class detection"
Hello,

Can you please provide a pre-trained model for multi-class detection?
The current model provided "epoch_50.pth" seems to be for detecting only cars as it gives very poor performance when used with multi_cfg.py.

Best regards,
Charvi

[2021-08-16 03:25] mc171819 commented on #11
did you solve this?

[2021-10-06 02:43] CharviVitthal opened #95 "Unable to test on a very small dataset (ValueError: need at least one array to concatenate)"
Hello,
I want to test on a very small dataset.
I reduced my validation dataset size to only 3 point clouds. (The same issue is also present if dataset contains only 1 or 2 point clouds). The folder has the required structure - labels, images, calib, velodyne, velodyne reduced. create_data.py works fine. But test.py gives the following error. When I increase my data size, everything works fine agai

[2022-01-20 09:29] Dejavusd opened #96 "Windows Environment"
`export NUMBAPRO_CUDA_DRIVER=/usr/lib/x86_64-linux-gnu/libcuda.so
export NUMBAPRO_NVVM=/usr/local/cuda/nvvm/lib64/libnvvm.so
export NUMBAPRO_LIBDEVICE=/usr/local/cuda/nvvm/libdevice
export LD_LIBRARY_PATH=/home/billyhe/anaconda3/lib/python3.7/site-packages/spconv;`

How to configure these on Windows, I use pycharm

[2022-04-13 11:32] Jaida19 opened #97 "RuntimeError: function SparseImplicitGemmFunctionBackward returned an incorrect number of gradients (expected 12, got 3)"
cuda 102 pytorch1.7.0 spconv2.2.1.how can i fix this error?

[2022-05-16 08:19] sunny553 commented on #94
Hello!
Have you solved this problem?

[2022-05-17 16:14] msmekala opened #98 "RuntimeError: Output 0 of SplitBackward is a view and is being modified inplace."
Hello Everone!
When i am  trying to run
`python3 train.py ../configs/car_cfg.py`

i get the following RunTimeError

"Traceback (most recent call last):
  File "tools/train.py", line 128, in <module>
    main()
  File "tools/train.py", line 118, in main
    log_interval = cfg.log_config.interval
  File "/home/rlrc/Downloads/SA-SSD/tools/train_utils/__init__.py", line 99, in train_model
    log_inte

[2022-05-17 16:32] msmekala opened #99 "The values for bbox, bev, 3d and aos seems to be very low as compared to what is specified in read me file"
Hi Everyone

When i run the test the pre-trained model with the command
`python3 tools/test.py configs/multi_cfg.py epoch_50.pth `specified in read me file
i get following results

Car AP@0.70, 0.70, 0.70:
bbox AP:0.00, 0.00, 0.01
bev  AP:0.00, 0.00, 0.00
3d   AP:0.00, 0.00, 0.00
aos  AP:0.00, 0.00, 0.00
Car AP@0.70, 0.50, 0.50:
bbox AP:0.00, 0.00, 0.01
bev  AP:0.00, 0.00, 0.00
3d   AP:0.00, 0.00,

[2022-07-28 01:22] sylivahf commented on #98
Hi，did you solve it? Thanks a lot.

[2022-09-30 09:12] AOOOOOA commented on #79
My GPU is rtx390 and my system is ubuntu 20. I also successfully ran the code with the above configuration.

[2022-10-03 03:29] AOOOOOA commented on #98
I had the same problem with rtx3090+cuda11.1+torch1.7.0+spconv 2.2(also has error with spconv 1.0)\

How do you solve the problem? Thanks

[2022-10-03 04:02] AOOOOOA commented on #49
I tried to use the original function block and the updated function, the results are all 0. I guess I need to re-train the model by myself. But when I run the train.py, there are errors. This model really cost me a lot of time to debug.

[2022-10-03 04:03] yangyongguang commented on #49
您的邮件我已经收到了  我会及时的阅读 谢谢

[2022-10-03 04:39] AOOOOOA commented on #99
I have also met this problem

[2022-10-03 04:51] AOOOOOA commented on #60
Hi I also met this problem. Could you please tell me how did you solve this problem?